<div class="sub-navigation">
  <div class="sub-navigation__content  resource-center">
    <div class="resource-center__blog  blog-preview">
      <a href="#" class="resource-center__headline">The Beval blog</a>
      <p class="resource-center__description">Here is a brief statement that explains all the exciting things in The Beval Blog</p>
      <div class="blog-preview__list">
        <article class="blog-preview__item">
          <h3 class="blog-preview__item-caption">Style</h3>
          <a href="#" class="blog-preview__item-cover">
            <img src="img/bg/bg__sub-navigation-promo.jpg" alt="Alt text" class="blog-preview__item-image object-fit">
          </a>
          <p class="blog-preview__item-title">Spring Fashions: The Do's & Don'ts for 2016</p>
          <div class="blog-preview__item-tags">
            <a href="" class="blog-preview__tag-link">Style</a>
            <a href="" class="blog-preview__tag-link">Trends</a>
            <a href="" class="blog-preview__tag-link">BevalStyles</a>
            <a href="" class="blog-preview__tag-link">Spring</a>
          </div>
        </article>
        <article class="blog-preview__item">
          <h3 class="blog-preview__item-caption">Education</h3>
          <a href="" class="blog-preview__item-cover  blog-preview__item-cover--video">
            <img src="img/bg/bg__sub-navigation-promo.jpg" alt="Alt text" class="blog-preview__item-image object-fit">
          </a>
          <a href="#" class="blog-preview__item-title">Spring Fashions: The Do's & Don'ts for 2016</a>
          <div class="blog-preview__item-tags">
            <a href="" class="blog-preview__tag-link">Style</a>
            <a href="" class="blog-preview__tag-link">Trends</a>
            <a href="" class="blog-preview__tag-link">BevalStyles</a>
            <a href="" class="blog-preview__tag-link">Spring</a>
          </div>
        </article>
        <article class="blog-preview__item">
          <h3 class="blog-preview__item-caption">News</h3>
          <a href="#" class="blog-preview__item-cover">
            <img src="img/bg/bg__sub-navigation-promo.jpg" alt="Alt text" class="blog-preview__item-image object-fit">
          </a>
          <a href="#" class="blog-preview__item-title">Spring Fashions: The Do's & Don'ts for 2016</a>
          <div class="blog-preview__item-tags">
            <a href="" class="blog-preview__tag-link">Style</a>
            <a href="" class="blog-preview__tag-link">Trends</a>
            <a href="" class="blog-preview__tag-link">BevalStyles</a>
            <a href="" class="blog-preview__tag-link">Spring</a>
          </div>
        </article>
      </div>
    </div>
    <div class="resource-center__services">
      <a href="#" class="resource-center__headline">Beval Services</a>
      <p class="resource-center__description">Here is a quick explanation showcasing all the great information in Beval Service</p>
      <ul class="resource-center__links-list">
        <li class="resource-center__links-item">
          <a href="#" class="resource-center__link">Our workshop</a>
          <ul class="resource-center__links-sub-list">
            <li class="resource-center__links-sub-item">
              <a href="#" class="resource-center__sub-link">In-house Craftsmen</a>
            </li>
            <li class="resource-center__links-sub-item">
              <a href="#" class="resource-center__sub-link">Workshop services</a>
            </li>
          </ul>
        </li>
        <li class="resource-center__links-item  resource-center__links-item--indent-bottom">
          <a href="#" class="resource-center__link">Saddle fitting</a>
          <ul class="resource-center__links-sub-list">
            <li class="resource-center__links-sub-item">
              <a href="#" class="resource-center__sub-link">Demo Saddle Program</a>
            </li>
            <li class="resource-center__links-sub-item">
              <a href="#" class="resource-center__sub-link">Our Saddle  Fitting Experts</a>
            </li>
          </ul>
        </li>
        <li class="resource-center__links-item">
          <a href="#" class="resource-center__link">Fitting & Care Experts</a>
          <ul class="resource-center__links-sub-list">
            <li class="resource-center__links-sub-item">
              <a href="#" class="resource-center__sub-link">Fitting Guides</a>
            </li>
            <li class="resource-center__links-sub-item">
              <a href="#" class="resource-center__sub-link">Care Guides</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>