<div class="sub-navigation">
  <div class="sub-navigation__content">
    <div class="sub-navigation__layout sub-navigation__layout--stable">
      <ul class="sub-navigation__list">
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Barn Supplies</a>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Feeding Supplies</a>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Grooming Totes & Bags</a>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Hardware</a>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Stall Accessories</a>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Trailer Accessories</a>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Trunk Accessories</a>
        </li>
      </ul>
    </div>
    <div class="sub-navigation__promo">
      <img src="img/bg/bg__sub-navigation-promo.jpg" alt="" class="sub-navigation__promo-cover  object-fit">
      <div class="sub-navigation__promo-layout">
        <div class="sub-navigation__promo-content">
          <p class="sub-navigation__promo-caption">New products<br>for</p>
          <span class="sub-navigation__promo-category">The Stable</span>
          <a href="" class="sub-navigation__promo-link  sub-navigation__promo-link--aylen">Shop now</a>
        </div>
      </div>
    </div>
  </div>
</div>