<div class="sub-navigation">
  <div class="sub-navigation__content">
    <div class="sub-navigation__layout  sub-navigation__layout--large">
      <a href="#" class="sub-navigation__list-title">Women</a>
      <ul class="sub-navigation__list  sub-navigation__list--float-left">
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link">Riding Apparel</a>
          <ul class="sub-navigation__sub-list">
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Saddies</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Helments</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Breeches</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Chaps</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Show coats</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Show shirts</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Boats</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Gloves</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Belts</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Socks & Support</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Stock Ties & Pins</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Outerwear</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Conditioning products</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="sub-navigation__list  sub-navigation__list--float-left">
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link">Casual apparel</a>
          <ul class="sub-navigation__sub-list">
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Tops</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Pants</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Shoes</a>
            </li>
          </ul>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link">Halters</a>
          <ul class="sub-navigation__sub-list">
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Hats</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Hairs Nets</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Socks</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Miscellaneous</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="sub-navigation__layout  sub-navigation__layout--large">
      <a  href="#" class="sub-navigation__list-title">Men</a>
      <ul class="sub-navigation__list  sub-navigation__list--float-left">
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link">Riding Apparel</a>
          <ul class="sub-navigation__sub-list">
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Saddies</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Helments</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Breeches</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Chaps</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Show coats</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Show shirts</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Boats</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Gloves</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Belts</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Socks & Support</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Stock Ties & Pins</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Outerwear</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Conditioning products</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="sub-navigation__list  sub-navigation__list--float-left">
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link">Casual apparel</a>
          <ul class="sub-navigation__sub-list">
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Tops</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Pants</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Shoes</a>
            </li>
          </ul>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link">Halters</a>
          <ul class="sub-navigation__sub-list">
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Hats</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Hairs Nets</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Socks</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Miscellaneous</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="sub-navigation__layout  sub-navigation__layout--large">
      <a  href="#" class="sub-navigation__list-title">Children</a>
      <ul class="sub-navigation__list  sub-navigation__list--float-left">
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link">Riding Apparel</a>
          <ul class="sub-navigation__sub-list">
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Saddies</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Helments</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Breeches</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Chaps</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Show coats</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Show shirts</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Boats</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Gloves</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Belts</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Socks & Support</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Stock Ties & Pins</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Outerwear</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Conditioning products</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="sub-navigation__list  sub-navigation__list--float-left">
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link">Casual apparel</a>
          <ul class="sub-navigation__sub-list">
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Tops</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Pants</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Shoes</a>
            </li>
          </ul>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link">Halters</a>
          <ul class="sub-navigation__sub-list">
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Hats</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Hairs Nets</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Socks</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Miscellaneous</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="sub-navigation__promo">
      <img src="img/bg/bg__sub-navigation-promo.jpg" alt="" class="sub-navigation__promo-cover  object-fit">
      <div class="sub-navigation__promo-layout">
        <div class="sub-navigation__promo-content">
          <p class="sub-navigation__promo-caption">New products<br>for</p>
          <span class="sub-navigation__promo-category">The Rider</span>
          <a href="" class="sub-navigation__promo-link  sub-navigation__promo-link--aylen">Shop now</a>
        </div>
      </div>
    </div>
  </div>
</div>