<div class="sub-navigation">
  <div class="sub-navigation__content">
    <div class="sub-navigation__layout  sub-navigation__layout--medium">
      <a  href="#" class="sub-navigation__list-title">Tack</a>
      <ul class="sub-navigation__list">
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link">Saddles & Accessories</a>
          <ul class="sub-navigation__sub-list">
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Saddles</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link  sub-navigation__sub-link--active">Saddle Pads</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Saddle Bags & Covers</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Girths</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Stirrup Irons & Pads</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Girths</a>
            </li>
          </ul>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link">Bridles & Accessories</a>
          <ul class="sub-navigation__sub-list">
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Bridle Parts</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Bridle Accessories</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Bits</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Breastplates</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Martingales</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Reins</a>
            </li>
          </ul>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Halters</a>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Leads</a>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Spurs & Straps</a>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Bats & Crops</a>
        </li>
      </ul>
    </div>
    <div class="sub-navigation__layout  sub-navigation__layout--medium">
      <a href="#" class="sub-navigation__list-title">Clothing</a>
      <ul class="sub-navigation__list">
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link">Sheets</a>
          <ul class="sub-navigation__sub-list">
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Anti-Sheets</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Cooler & Dress Sheets</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Stable Sheets</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Rain Sheets</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Turnout Sheets</a>
            </li>
          </ul>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link">Blankets</a>
          <ul class="sub-navigation__sub-list">
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Stable Blankets</a>
            </li>
            <li class="sub-navigation__sub-item">
              <a href="#" class="sub-navigation__sub-link">Turnout Blankets</a>
            </li>
          </ul>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Masks</a>
        </li>
      </ul>
    </div>
    <div class="sub-navigation__layout  sub-navigation__layout--medium">
      <a href="#" class="sub-navigation__list-title">Grooming & Care</a>
      <ul class="sub-navigation__list">
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Grooming Products</a>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Bathing Supplies</a>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Clippers & Accessories</a>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Braiding Supplies &
            Tails</a>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Coat Care</a>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Hoof Care</a>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Liniment</a>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Poultice</a>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Supplements</a>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">First Aid Supplies</a>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Horse Treats</a>
        </li>
        <li class="sub-navigation__item">
          <a href="#" class="sub-navigation__link  sub-navigation__link--single">Fly Control</a>
        </li>
      </ul>
    </div>
    <div class="sub-navigation__layout  sub-navigation__layout--medium">
      <div class="sub-navigation__layout  sub-navigation__layout--indent-bottom">
        <a href="#" class="sub-navigation__list-title">Accessories</a>
        <ul class="sub-navigation__list">
          <li class="sub-navigation__item">
            <a href="#" class="sub-navigation__link  sub-navigation__link--single">Horse Boots</a>
          </li>
          <li class="sub-navigation__item">
            <a href="#" class="sub-navigation__link  sub-navigation__link--single">Horse Wraps</a>
          </li>
          <li class="sub-navigation__item">
            <a href="#" class="sub-navigation__link  sub-navigation__link--single">Grooming Totes & Bags</a>
          </li>
          <li class="sub-navigation__item">
            <a href="#" class="sub-navigation__link  sub-navigation__link--single">Equipment Bags</a>
          </li>
        </ul>
      </div>
      <div class="sub-navigation__layout">
        <a href="#" class="sub-navigation__list-title">Search by</a>
        <ul class="sub-navigation__list">
          <li class="sub-navigation__item">
            <a href="#" class="sub-navigation__link  sub-navigation__link--single">Brand</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="sub-navigation__promo">
      <img src="img/bg/bg__sub-navigation-promo.jpg" alt="" class="sub-navigation__promo-cover  object-fit">
      <div class="sub-navigation__promo-layout">
        <div class="sub-navigation__promo-content">
          <p class="sub-navigation__promo-caption">New products<br>for</p>
          <span class="sub-navigation__promo-category">The horse</span>
          <a href="" class="sub-navigation__promo-link  sub-navigation__promo-link--aylen">Shop now</a>
        </div>
      </div>
    </div>
  </div>
</div>