@font-face {
  font-family: $font-family__centuryGothic;
  src: url($path__fonts + 'CenturyGothic.eot?#iefix') format('embedded-opentype'),
  url($path__fonts + 'CenturyGothic.woff') format('woff'),
  url($path__fonts + 'CenturyGothic.ttf') format('truetype'),
  url($path__fonts + 'CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: $font-weight__regular;
  font-style: normal;
}

@font-face {
  font-family: $font-family__centuryGothic;
  src: url($path__fonts + 'CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
  url($path__fonts + 'CenturyGothic-Bold.woff') format('woff'),
  url($path__fonts + 'CenturyGothic-Bold.ttf') format('truetype'),
  url($path__fonts + 'CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
  font-weight: $font-weight__bold;
  font-style: normal;
}

@font-face {
  font-family: $font-family__libreBaskerville;
  src: url($path__fonts + 'librebaskerville-bold-webfont.eot');
  src: url($path__fonts + 'librebaskerville-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url($path__fonts + 'librebaskerville-bold-webfont.woff2') format('woff2'),
  url($path__fonts + 'librebaskerville-bold-webfont.woff') format('woff'),
  url($path__fonts + 'librebaskerville-bold-webfont.ttf') format('truetype'),
  url($path__fonts + 'librebaskerville-bold-webfont.svg#libre_baskervillebold') format('svg');
  font-weight: $font-weight__bold;
  font-style: normal;
}

@font-face {
  font-family: $font-family__libreBaskerville;
  src: url($path__fonts + 'librebaskerville-regular-webfont.eot');
  src: url($path__fonts + 'librebaskerville-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url($path__fonts + 'librebaskerville-regular-webfont.woff2') format('woff2'),
  url($path__fonts + 'librebaskerville-regular-webfont.woff') format('woff'),
  url($path__fonts + 'librebaskerville-regular-webfont.ttf') format('truetype'),
  url($path__fonts + 'librebaskerville-regular-webfont.svg#libre_baskervilleregular') format('svg');
  font-weight: $font-weight__regular;
  font-style: normal;
}

@font-face {
  font-family: $font-family__libreBaskerville;
  src: url($path__fonts + 'librebaskerville-italic-webfont.eot');
  src: url($path__fonts + 'librebaskerville-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url($path__fonts + 'librebaskerville-italic-webfont.woff2') format('woff2'),
  url($path__fonts + 'librebaskerville-italic-webfont.woff') format('woff'),
  url($path__fonts + 'librebaskerville-italic-webfont.ttf') format('truetype'),
  url($path__fonts + 'librebaskerville-italic-webfont.svg#libre_baskervilleitalic') format('svg');
  font-weight: $font-weight__regular;
  font-style: italic;
}

@font-face {
  font-family: $font-family__helvetica;
  src: url($path__fonts + 'HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url($path__fonts + 'HelveticaNeueCyr-Bold.woff') format('woff'),
  url($path__fonts + 'HelveticaNeueCyr-Bold.ttf') format('truetype'),
  url($path__fonts + 'HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
  font-weight: $font-weight__bold;
  font-style: normal;
}

@font-face {
  font-family: $font-family__helvetica;
  src: url($path__fonts + 'HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
  url($path__fonts + 'HelveticaNeueCyr-Roman.woff') format('woff'),
  url($path__fonts + 'HelveticaNeueCyr-Roman.ttf') format('truetype'),
  url($path__fonts + 'HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
  font-weight: $font-weight__regular;
  font-style: normal;
}