//Settings
@import 'variables'
@import 'fonts'
@import 'reset'
@import 'mixins'

//Libs
@import '../../node_modules/sass-mediaqueries/media-queries'
@import '../../node_modules/slick-carousel/slick/slick.scss'
@import '../../node_modules/font-awesome/scss/font-awesome'

//Html, body
html
  height: 100%

body
  height: 100%
  min-width: 320px
  color: $color__black
  background-color: $color__white
  text-size-adjust: 100%
  font-family: $font-family__centuryGothic
  font-weight: $font-weight__regular
  font-size: $font-size__basic
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-scroll-behavior: smooth
  -o-scroll-behavior: smooth
  scroll-behavior: smooth
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  overflow-x: hidden

//Partials common
@import 'partials/header'
@import 'partials/top-bar'
@import 'partials/icon'
@import 'partials/navigation'
@import 'partials/search'
@import 'partials/sub-navigation'
@import 'partials/resource-center'
@import 'partials/blog-preview'
@import 'partials/featured'
@import 'partials/instagram'
@import 'partials/footer'
@import 'partials/navigation-button'
@import 'partials/user-dropdown'
@import 'partials/popup'

//Partials individual
@import 'partials/banner'
@import 'partials/breadcrumbs'
@import 'partials/filter'
@import 'partials/categories'
@import 'partials/free-futures'
@import 'partials/products'
@import 'partials/mobile-banner'



//Helpers
%layout-content
  width: $width__layoutContent
  height: 100%
  margin: auto
  box-sizing: border-box

  @include max-screen($width__layoutContent)
    width: 100%

.no-scroll
  overflow: hidden

button,
a
  &::-moz-focus-inner
    border: 0

.color
  &--green
    color: $color__green