<!-- Footer begin -->
<footer class="footer">
  <button class="footer__button-up  scroll-to" type="button" data-anchor="cnt__main-slider"><i class="fa fa-angle-up" aria-hidden="true"></i> <span>Back to top</span> <i class="fa fa-angle-up" aria-hidden="true"></i></button>
  <button class="footer__button footer__button--call" type="button">
    <i class="fa fa-phone" aria-hidden="true"></i> Call us
  </button>
  <button class="footer__button footer__button--email" type="button">
    <i class="fa fa-envelope" aria-hidden="true"></i> Email us
  </button>
  <div class="footer__content">
    <div class="footer__layout">
      <h3 class="footer__caption">The company</h3>
      <div class="footer__links-list">
        <a href="#" class="footer__link">About Beval</a>
        <a href="#" class="footer__link">Locations</a>
        <a href="#" class="footer__link">Job opportunities</a>
        <a href="#" class="footer__link">Privacy & security</a>
      </div>
    </div>
    <div class="footer__layout">
      <h3 class="footer__caption">May we help you?</h3>
      <div class="footer__links-list">
        <a href="#" class="footer__link">Contact us</a>
        <a href="#" class="footer__link">FAQS</a>
        <a href="#" class="footer__link">Shipping policy</a>
        <a href="#" class="footer__link">Returns & special orders</a>
      </div>
    </div>
    <div class="footer__layout">
      <h3 class="footer__caption">Find us on</h3>
      <div class="footer__links-list">
        <a href="#" class="footer__link footer__link--social"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i> Facebook</a>
        <a href="#" class="footer__link footer__link--social"><i class="fa fa-youtube-play fa-fw" aria-hidden="true"></i> Youtube</a>
        <a href="#" class="footer__link footer__link--social"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i> Twitter</a>
        <a href="#" class="footer__link footer__link--social"><i class="fa fa-google-plus-square fa-fw" aria-hidden="true"></i> Google+</a>
        <a href="#" class="footer__link footer__link--social"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i> Instagram</a>
        <a href="#" class="footer__link footer__link--social"><i class="fa fa-pinterest fa-fw" aria-hidden="true"></i> Pinterest</a>
      </div>
    </div>
    <div class="footer__layout">
      <h3 class="footer__caption">Beval email updates</h3>
      <div class="footer__subscription">
        <p class="footer__subscription-description">Sign up for email updates to recieve promotional offers and trend reports.</p>
        <form action="/" method="post" class="footer__subscription-form">
          <input type="text" class="footer__subscription-input" placeholder="Email address">
          <button class="footer__subscription-button" type="submit"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
        </form>
      </div>
    </div>
    <div class="footer__concluding">
      <div class="footer__logo">
        <img src="img/logo__stroke-white.svg" alt="Beval" class="footer__logo-image">
      </div>
      <p class="footer__rights">© 2015 Beval. All Rights Reserved.</p>
      <p class="footer__pay-systems">
        <img src="img/icons/icon-visa.png" alt="Pay system" class="footer__pay-system">
        <img src="img/icons/icon-american-express.png" alt="Pay system" class="footer__pay-system">
        <img src="img/icons/icon-discover.png" alt="Pay system" class="footer__pay-system">
        <img src="img/icons/icon-mastercard.png" alt="Pay system" class="footer__pay-system">
        <img src="img/icons/icon-paypal.png" alt="Pay system" class="footer__pay-system">
      </p>
    </div>
  </div>
</footer>
<!-- Footer end -->