<!-- Instagram feed section begin -->
<div class="instagram">
  <div class="instagram__item">
    <img src="img/temp/insta__item-1.jpg" alt="Instagram image" class="instagram__image">
  </div>
  <div class="instagram__item">
    <img src="img/temp/insta__item-2.jpg" alt="Instagram image" class="instagram__image">
  </div>
  <div class="instagram__item  instagram__item--headline">
    <p class="instagram__caption">Check out the</p>
    <span class="instagram__hashtag">#BevalRaceStyle</span>
    <p class="instagram__caption">feed on instagram</p>
  </div>
  <div class="instagram__item">
    <img src="img/temp/insta__item-3.jpg" alt="Instagram image" class="instagram__image">
  </div>
  <div class="instagram__item">
    <img src="img/temp/insta__item-4.jpg" alt="Instagram image" class="instagram__image">
  </div>
</div>
<!-- Instagram feed section end -->