.banner
  height: 300px

  @include max-screen(1150px)
    height: 290px

  @include max-screen(900px)
    height: 240px

  @include max-screen(700px)
    height: auto

  @include max-screen(640px)
    display: none

  &::after
    content: ''
    display: table
    clear: both

  &__cover
    display: block
    float: left
    width: 300px
    height: 100%
    text-decoration: none

    @include max-screen(700px)
      float: none
      width: 100%
      height: 200px

    @include max-screen(420px)
      height: 150px

  &__text
    float: right
    position: relative
    width: calc(100% - 300px)
    height: 100%
    text-align: center
    background-color: $color__beige
    font-size: 0

    &::before
      content: ''
      display: block
      position: absolute
      top: calc(50% - 18px)
      left: -18px
      width: 36px
      height: 36px
      background-color: $color__beige
      transform: rotate(45deg)
      z-index: 1

    &::after
      content: ''
      display: inline-block
      vertical-align: middle
      width: 0
      height: 100%
      font-size: 0

    @include max-screen(700px)
      float: none
      width: 100%
      height: 250px

      &::before
        left: calc(50% - 18px)
        top: -18px

    @include max-screen(420px)
      height: 200px

  &__cover-image
    display: block
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center
    @include object-fit(cover, center)

  &__text-layout
    display: inline-block
    vertical-align: middle

  &__caption
    margin-bottom: 25px
    text-transform: uppercase
    font-weight: $font-weight__bold
    font-size: $font-size__basic

    @include max-screen(1150px)
      font-size: $font-size__basic * 0.9
      margin-bottom: 20px

    @include max-screen(900px)
      font-size: $font-size__basic * 0.85
      margin-bottom: 15px

    @include max-screen(420px)
      font-size: $font-size__basic * 0.8

  &__headline
    position: relative
    margin-bottom: 50px
    text-transform: uppercase
    color: $color__white
    font-size: $font-size__basic * 2.3
    font-family: $font-family__libreBaskerville

    @include max-screen(1150px)
      font-size: $font-size__basic * 2.1
      margin-bottom: 35px

    @include max-screen(900px)
      font-size: $font-size__basic * 2
      margin-bottom: 30px

    @include max-screen(420px)
      font-size: $font-size__basic * 1.8



    &::after
      content: ''
      display: block
      position: absolute
      left: calc(50% - 50px)
      bottom: -15px
      width: 100px
      height: 3px
      background-color: $color__white

  &__paragraph
    padding: 0 150px
    font-size: $font-size__basic * 0.75
    box-sizing: border-box

    @include max-screen(1150px)
      padding: 0 50px

    @include max-screen(420px)
      padding: 0 20px


