.blog-preview
  @include max-screen(1020px)
    display: none

  &__list
    &::after
      content: ''
      display: table
      clear: both

    @include max-screen(1020px)
      display: none

  &__item
    float: left
    width: calc(33.333% - 40px)
    margin-right: 60px

    &:last-child
      margin-right: 0

    @include max-screen(1020px)
      float: none
      width: 100%
      margin-right: 0

  &__item-caption
    margin-bottom: 13px
    text-transform: uppercase
    font-size: $font-size__basic * 0.9
    font-weight: bold
    letter-spacing: 0.5px

  &__item-cover
    display: block
    position: relative
    margin-bottom: 13px
    text-decoration: none
    width: 100%
    height: 191px
    background-color: $color__beige

    &--video
      &::after
        content: ''
        display: block
        position: absolute
        top: calc(50% - 50px)
        left: calc(50% - 50px)
        width: 0
        height: 0
        border-top: 50px solid transparent
        border-left: 100px solid rgba(255, 255, 255, 0.6)
        border-bottom: 50px solid transparent

    &:hover
      .blog-preview__item-image
        opacity: 0.7

    @include max-screen(1020px)
      display: none

  &__item-image
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center
    @include object-fit(cover, center)
    transition: opacity 0.4s ease-out

  &__item-title
    display: inline-block
    vertical-align: middle
    width: 100%
    margin-bottom: 10px
    text-decoration: none
    color: $color__black
    font-family: $font-family__libreBaskerville
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.76
    line-height: 1.3

  &__tag-link
    margin-right: 5px
    color: $color__grey
    font-size: $font-size__basic * 0.7

    &:hover
      color: $color__green

    &:last-child
      margin-right: 0

