.breadcrumbs
  padding-top: $height__header
  background-color: $color__white

  @include max-screen(450px)
    padding-top: 76px

  &__content
    @extend %layout-content
    padding: 20px

    @include max-screen(750px)
      padding: 15px

    &::after
      content: ''
      display: table
      clear: both

  &__layout
    float: left
    width: 50%

    &--right
      text-align: right

      @include max-screen(640px)
        display: none

    @include max-screen(750px)
      float: none
      width: 100%

    @include max-screen(640px)
      text-align: center

      &--left
        padding-bottom: 8px

      &--right
        text-align: left
        padding-top: 5px
        border-top: 1px solid $color__greyLight

  &__item
    display: inline-block
    vertical-align: middle
    color: $color__greenDark
    font-size: $font-size__basic * 0.6

    &::after
      content: '>'
      display: inline-block
      vertical-align: middle
      margin-left: 8px
      font-size: $font-size__basic * 0.6

    &:hover
      color: $color__black
      text-decoration: none

    &--current
      font-weight: $font-weight__bold

      &::after
        display: none

    &--right
      text-decoration: none
      font-weight: $font-weight__bold
      &::after
        display: none