.categories
  padding-top: 5px
  padding-bottom: 80px

  &__content
    @extend %layout-content

  &__list
    margin-bottom: 50px
    &::after
      content: ''
      display: table
      clear: both


  &__item
    display: block
    float: left
    position: relative
    width: 50%
    padding-left: 15px
    padding-right: 50px
    height: 90px
    text-decoration: none
    color: $color__black
    font-size: 0
    box-sizing: border-box
    overflow: hidden

    &::before
      content: ''
      display: block
      position: absolute
      left: 0
      bottom: 0
      width: calc(100% - 50px)
      height: 1px
      background-color: #f1f0f0

    &::after
      content: ''
      display: inline-block
      vertical-align: middle
      width: 0
      height: 100%

    .categories__cover
      right: 50px

    &:nth-child(2n)
      padding-left: 20px
      padding-right: 15px

      &::before
        width: calc(100% - 15px)

        @include max-screen(1270px)
          width: 100%

      .categories__cover
        right: 15px


    @include max-screen(750px)
      float: none
      width: 100%
      padding-right: 15px
      padding-left: 15px

      &::before
        left: 15px
        width: calc(100% - 30px)

      .categories__cover
        right: 15px

      &:nth-child(2n)
        padding-right: 15px
        padding-left: 15px

        &::before
          left: 15px
          width: calc(100% - 30px)


  &__title
    display: inline-block
    vertical-align: middle
    width: 60%
    min-height: 19px
    max-height: 52px
    font-family: $font-family__libreBaskerville
    font-size: $font-size__basic * 0.85
    font-weight: $font-weight__bold
    overflow: hidden

  &__cover
    display: block
    position: absolute
    top: 7%
    height: 86%

    @include max-screen(400px)
      top: 15%
      height: 70%
      max-width: 160px
      object-fit: cover
      object-position: center
      @include object-fit(cover, center)

  &__show-all
    display: block
    position: relative
    width: 255px
    margin: auto
    padding: 15px 0
    text-align: center
    text-transform: uppercase
    text-decoration: none
    color: $color__green
    background-color: $color__white
    font-size: $font-size__basic * 0.8
    font-weight: $font-weight__bold
    border: 3px solid $color__green
    z-index: 1
    cursor: pointer

    &::before
      background: lighten($color__green, 5%)

    &::after
      background: $color__green

    &:hover
      color: $color__white

    &--aylen
      overflow: hidden
      -webkit-transition: color 0.4s
      transition: color 0.4s

    &--aylen::before,
    &--aylen::after
      content: ''
      position: absolute
      height: 100%
      width: 100%
      bottom: 100%
      left: 0
      z-index: -1
      -webkit-transition: -webkit-transform 0.4s
      transition: transform 0.4s
      -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1)
      transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1)

    &--aylen:hover::before,
    &--aylen:hover::after
      -webkit-transform: translate3d(0, 100%, 0)
      transform: translate3d(0, 100%, 0)

    &--aylen:hover::after
      -webkit-transition-delay: 0.175s
      transition-delay: 0.175s