.featured
  padding: 40px 0 70px

  @include max-screen(760px)
    padding: 20px 0 35px
  &__content
    @extend %layout-content
    padding: 0 80px

    @include max-screen(1270px)
      padding: 0 40px

    @include max-screen(760px)
      padding: 0 25px

  &__filter-control
    text-align: center
    font-size: 0
    border-bottom: 2px solid #b8b8b8

  &__filter-button
    display: inline-block
    vertical-align: middle
    position: relative
    padding: 25px 30px
    text-transform: uppercase
    color: #b8b8b8
    background-color: $color__white
    font-family: $font-family__centuryGothic
    font-size: $font-size__basic * 0.9
    font-weight: $font-weight__bold
    border: none
    box-sizing: border-box
    overflow: hidden
    cursor: pointer
    transition: color 0.3s ease

    @include max-screen(680px)
      padding: 20px 15px
      font-size: $font-size__basic * 0.8

    @include max-screen(550px)
      padding: 20px 10px
      font-size: $font-size__basic * 0.7

    @include max-screen(415px)
      padding: 15px 8px
      font-size: $font-size__basic * 0.55

    @include max-screen(355px)
      padding: 15px 7px
      font-size: $font-size__basic * 0.5


    &:focus
      outline: none

    &::before
      content: ''
      display: block
      position: absolute
      left: calc(50% - 5px)
      bottom: -12px
      width: 10px
      height: 10px
      background-color: #b8b8b8
      transform: rotate(45deg)
      transition: all 0.3s ease

    &::after
      content: ''
      display: block
      position: absolute
      top: calc(50% - 9px)
      right: 0
      width: 2px
      height: 18px
      background-color: #b8b8b8

      @include max-screen(415px)
        top: calc(50% - 6px)
        width: 1px
        height: 12px

    &:last-child
      &::after
        display: none

    &--active
      color: $color__black

      &::before
        bottom: -5px

    &:hover
      color: $color__black

  &__slider
    position: relative
    padding-top: 30px
    min-height: 353px

    @include max-screen(420px)
      min-height: 200px

  &__item
    margin: 0 10px
    font-size: 0

    &:focus
      outline: none

    @include max-screen(420px)
      margin: 0 4px

  &__cover
    display: block
    position: relative
    height: 280px
    margin-bottom: 15px
    text-decoration: none
    background-color: $color__greyLight
    overflow: hidden

    &:focus
      outline: none

    @include max-screen(830px)
      height: 220px

    @include max-screen(760px)
      height: 260px

    @include max-screen(420px)
      height: 220px

    @include max-screen(380px)
      height: 200px

    &::after
      content: ''
      display: inline-block
      vertical-align: middle
      width: 0
      height: 100%

  &__cover-label
    position: absolute
    top: 0
    left: 0
    padding: 7px 12px
    text-transform: uppercase
    color: $color__white
    background-color: $color__black
    font-size: $font-size__basic * 0.6

  &__image
    display: inline-block
    vertical-align: middle
    width: 100%

  &__brand-name
    display: block
    margin-bottom: 10px
    text-transform: uppercase
    text-decoration: none
    color: #b8b8b8
    font-size: $font-size__basic * 0.5
    font-weight: $font-weight__bold

    &:hover
      color: $color__black

  &__product-name
    display: block
    margin-bottom: 10px
    text-decoration: none
    color: $color__black
    font-family: $font-family__libreBaskerville
    font-size: $font-size__basic * 0.7
    font-weight: $font-weight__bold

    &:hover
      color: $color__green

  &__price
    margin-right: 6px
    color: $color__black
    font-family: $font-family__libreBaskerville
    font-size: $font-size__basic * 0.7
    font-weight: $font-weight__bold

    &--old
      text-decoration: line-through
      color: #b8b8b8
      margin-right: 0

  &__control
    position: absolute
    top: 50%
    width: 10px
    height: 10px
    transform: rotate(45deg)
    cursor: pointer
    z-index: 9

    @include max-screen(1270px)
      width: 6px
      height: 6px

    &--prev
      left: -70px
      border-left-width: 2px
      border-bottom-width: 2px
      border-left-style: solid
      border-bottom-style: solid

      @include max-screen(1270px)
        left: -15px

      @include max-screen(1270px)
        left: -10px


    &--next
      right: -70px
      border-top-width: 2px
      border-right-width: 2px
      border-top-style: solid
      border-right-style: solid

      @include max-screen(1270px)
        right: -15px

      @include max-screen(1270px)
        right: -10px

.slick-slide img
  display: inline-block
  vertical-align: middle

