.filter
  position: relative
  background-color: $color__greyLight

  &__content
    @extend %layout-content
    font-size: 0 //display inline block margin right fix
    border-left: 2px solid $color__white
    border-right: 2px solid $color__white

    @include max-screen(1270px)
      border: none

  &__button
    display: inline-block
    vertical-align: middle
    position: relative
    width: 50%
    min-height: 60px
    padding: 20px 0 20px 20px
    text-align: left
    color: $color__black
    background-color: $color__greyLight
    font-family: $font-family__centuryGothic
    font-weight: $font-weight__regular
    border: none
    transition: background-color 0.3s ease
    cursor: pointer

    @include max-screen(500px)
      padding: 10px 0 10px 10px

    &:hover
      background-color: darken($color__greyLight, 5%)

    &:focus
      outline: none

    &::after
      content: ''
      display: block
      position: absolute
      top: 28px
      right: 25px
      width: 0
      height: 0
      background-color: $color__transparent
      border-left: 5px solid transparent
      border-right: 5px solid transparent
      border-top: 5px solid $color__black

      @include max-screen(500px)
        right: 12px

    &--hidden
      @include max-screen(700px)
        display: none

    &--categories
      border-right: 1px solid $color__white

      &[data-state="disabled"]
        .filter__button-caption--enabled
          display: none


      &[data-state="enabled"]
        @include max-screen(700px)
          width: 100%
        .filter__button-caption--disabled
          display: none

        .filter__button-caption--enabled
          display: inline-block

        .filter__button-data
          display: none

        .filter__button-close
          display: block


    &--filters
      border-left: 1px solid $color__white

      &[data-state="enabled"]
        @include max-screen(700px)
          width: 100%

        .filter__button-close
          display: block

  &__button-caption
    display: inline-block
    vertical-align: middle
    margin-right: 6px
    text-transform: uppercase
    font-size: $font-size__basic * 0.7

    @include max-screen(500px)
      margin-right: 0
      font-size: $font-size__basic * 0.55

  &__button-data
    display: inline-block
    vertical-align: middle
    font-size: $font-size__basic * 0.8
    font-weight: $font-weight__bold

    @include max-screen(500px)
      width: 40%
      font-size: $font-size__basic * 0.65
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

  &__button-close
    display: none
    position: absolute
    top: 0
    right: 0
    width: 60px
    height: 60px
    background-color: #b8b8b8
    font-size: 0
    z-index: 5

    &::after
      content: ''
      display: block
      position: absolute
      top: calc(50% - 1px)
      left: 3%
      width: 94%
      height: 2px
      background-color: $color__white
      transform: rotate(45deg)

    &::before
      content: ''
      display: block
      position: absolute
      top: calc(50% - 1px)
      left: 3%
      width: 94%
      height: 2px
      background-color: $color__white
      transform: rotate(-45deg)

  &__layout
    display: none
    position: absolute
    top: 60px
    width: 50%
    font-size: 0
    z-index: 5

    @include max-screen(700px)
      width: 100%

    &::before
      content: ''
      display: block
      position: absolute
      top: 0
      height: 100%
      background-color: rgba(0, 0, 0, 0.4)
      z-index: 4

      @include max-screen(700px)
        display: none

    &--active
      display: block

    &--categories
      left: 0
      background-color: $color__greyLight
      border-top: 2px solid $color__white

      &::before
        left: 100%
        width: 100%

    &--filters
      left: 50%
      background-color: $color__white

      @include max-screen(700px)
        top: 122px
        left: 0

      &::before
        right: 0
        width: 200%
        z-index: -1

      &::after
        content: ''
        display: table
        clear: both


  &__categories
    width: 635px
    margin-left: auto
    padding-left: 20px
    box-sizing: border-box

    @include max-screen(1270px)
      width: 100%

    & > li
      & > span
        display: inline-block
        vertical-align: middle
        position: relative
        width: 100%
        padding: 16px 0
        font-family: $font-family__libreBaskerville
        font-weight: $font-weight__bold
        font-size: $font-size__basic * 0.75
        cursor: pointer

      &:hover
        & > span
          &::after
            content: ''
            display: block
            position: absolute
            bottom: 8px
            left: 0
            width: 15px
            height: 1px
            background-color: $color__black


      ul
        background-color: $color__white

        &::before
          opacity: 1


    li
      ul
        display: none
        position: relative
        padding-left: 15px
        font-size: $font-size__basic * 0.7
        cursor: pointer
        box-sizing: border-box

        &::before
          content: ''
          display: block
          position: absolute
          right: 100%
          top: 0
          width: 100%
          height: 100%
          background-color: $color__white
          opacity: 0

    li.active
      & > span
        font-weight: bold
      & > ul
        display: block
        &::before
          opacity: 1
        li
          & > span
            display: inline-block
            vertical-align: middle
            padding: 6px 0

          a
            display: inline-block
            vertical-align: middle
            padding: 2px 0
            text-decoration: none
            color: $color__greenDark

  &__sub-categories-item
    display: none
    position: relative
    padding: 10px 0 10px 15px
    font-size: $font-size__basic * 0.7
    cursor: pointer
    box-sizing: border-box

    &::before
      content: ''
      display: block
      position: absolute
      right: 100%
      top: 0
      width: 100%
      height: 100%
      background-color: $color__white
      opacity: 0

    &:hover,
    &--active
      background-color: $color__white

      &::before
        opacity: 1

  &__filters-list
    float: left
    width: 317px
    min-height: 450px
    background-color: $color__white
    border-right: 1px solid #c8c8c7
    box-sizing: border-box

    @include max-screen(1270px)
      width: 50%

  &__item
    position: relative
    padding: 18px 25px
    font-family: $font-family__libreBaskerville
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.75
    border-bottom: 1px solid #c8c8c7
    cursor: pointer

    @include max-screen(420px)
      padding: 19px 15px

    &::after
      content: ''
      display: none
      vertical-align: middle
      position: relative
      top: -4px
      width: 6px
      height: 3px
      margin-left: 4px
      border-left: 2px solid $color__black
      border-bottom: 2px solid $color__black
      transform: rotate(-35deg)

    &::before
      content: ''
      display: block
      position: absolute
      top: calc(50% - 5px)
      right: -5px
      width: 10px
      height: 10px
      background-color: $color__black
      transform: rotate(45deg)
      opacity: 0

    &--active
      color: $color__white
      background-color: $color__black

      &::before
        opacity: 1

      &::after
        border-color: $color__white

    &--active-sub-filters
      &::after
        display: inline-block

  &__sub-filters
    display: none
    float: left
    width: 317px
    padding-top: 8px
    min-height: 450px
    background-color: $color__white
    box-sizing: border-box

    &--active
      display: block

    @include max-screen(1270px)
      width: 50%

  &__sub-item
    display: inline-block
    vertical-align: middle
    width: 100%
    padding: 11px 25px
    font-size: $font-size__basic * 0.75
    cursor: pointer
    box-sizing: border-box

    @include max-screen(420px)
      padding: 12px 15px

    &::after
      content: ''
      display: none
      vertical-align: middle
      position: relative
      top: -3px
      width: 6px
      height: 3px
      margin-left: 7px
      border-left: 2px solid $color__black
      border-bottom: 2px solid $color__black
      transform: rotate(-35deg)

    &--active
      &::after
        display: inline-block

  &__clear
    display: inline-block
    vertical-align: middle
    width: 316px
    margin: 0
    padding: 17px 0
    text-align: center
    text-transform: uppercase
    background-color: #b8b8b8
    font-family: $font-family__centuryGothic
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.8
    border: none
    border-right: 1px solid $color__white
    box-sizing: border-box
    cursor: pointer

    &:focus
      outline: none

    @include max-screen(1270px)
      width: 50%

  &__show-result
    display: inline-block
    vertical-align: middle
    width: 316px
    margin: 0
    padding: 17px 0
    text-align: center
    text-transform: uppercase
    color: $color__white
    background-color: $color__black
    font-family: $font-family__centuryGothic
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.8
    border: none
    border-left: 1px solid $color__white
    box-sizing: border-box
    cursor: pointer

    &:focus
      outline: none

    @include max-screen(1270px)
      width: 50%