.footer
  position: relative
  padding: 90px 0 60px
  background-color: $color__black
  font-size: 0

  @include max-screen(760px)
    padding: 0 0 30px
    border-top: 15px solid $color__beige

  &__content
    @extend %layout-content
    position: relative
    padding: 0 40px

    @include max-screen(1270px)
      padding: 0 20px

    @include max-screen(760px)
      padding: 0 15px

    &::after
      content: ''
      display: table
      clear: both

  &__layout
    float: left
    width: 25%
    font-size: 0 //display inline-block margin right fix

    &:first-child
      .footer__caption
        border-top: none

    @include max-screen(1000px)
      padding-right: 17px
      box-sizing: border-box

    @include max-screen(760px)
      float: none
      width: 100%
      padding-right: 0

  &__caption
    position: relative
    margin-bottom: 55px
    text-transform: uppercase
    color: $color__white
    font-family: $font-family__libreBaskerville
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.8

    &::after
      content: ''
      display: block
      position: absolute
      left: 0
      bottom: -18px
      width: 20px
      height: 2px
      background-color: $color__white

    @include max-screen(760px)
      margin: 0
      padding: 22px 0
      border-top: 1px solid #605457

      &::before
        content: ''
        display: block
        position: absolute
        top: 28px
        right: 0
        width: 0
        height: 0
        background-color: $color__transparent
        border-left: 5px solid transparent
        border-right: 5px solid transparent
        border-top: 5px solid $color__white

      &::after
        display: none

    &[data-state='enabled']
      margin-bottom: 25px

      &::before
        transform: rotate(180deg)

      &::after
        display: block
        bottom: auto
        top: 53px

      & + .footer__links-list
        display: block

      & + .footer__subscription
        display: block

  &__links-list
    @include max-screen(760px)
      display: none

  &__link
    display: block
    margin-bottom: 17px
    text-transform: uppercase
    text-decoration: none
    color: $color__white
    font-size: $font-size__basic * 0.7

    &--social
      display: inline-block
      vertical-align: middle
      width: 40%

      @include max-screen(1270px)
        width: 50%

      @include max-screen(1000px)
        width: 100%

      .fa
        font-size: $font-size__basic * 0.8

    &:hover
      color: #d6d6d6

  &__subscription
    @include max-screen(760px)
      display: none
      margin-bottom: 30px

  &__subscription-description
    margin-bottom: 10px
    color: $color__white
    font-size: $font-size__basic * 0.6
    line-height: 1.6

  &__subscription-form
    font-size: 0

  &__subscription-input
    display: inline-block
    vertical-align: middle
    width: 180px
    height: 32px
    padding-left: 6px
    padding-right: 6px
    border: 2px solid $color__green
    background-color: #e4e3e2
    font-family: $font-family__centuryGothic
    font-size: $font-size__basic * 0.6
    box-sizing: border-box

    @include max-screen(1000px)
      width: calc(100% - 32px)

    @include max-screen(470px)
      width: calc(80% - 32px)

  &__subscription-button
    display: inline-block
    vertical-align: middle
    width: 32px
    height: 32px
    padding: 0
    text-align: center
    color: $color__white
    background-color: $color__green
    border: 2px solid $color__green
    line-height: 32px
    box-sizing: border-box
    cursor: pointer

    &:focus
      outline: none

  &__concluding
    position: relative
    padding-top: 50px
    clear: both

    @include max-screen(600px)
      margin-bottom: 20px

  &__logo
    width: 160px
    margin: 0 auto

    @include max-screen(600px)
      padding-bottom: 15px

    &::before
      content: ''
      display: block
      position: absolute
      top: 80px
      left: 0
      width: 100%
      height: 1px
      background-color: $color__white
      z-index: 0

      @include max-screen(600px)
        top: auto
        bottom: 0


  &__logo-image
    position: relative
    display: block
    width: 100%
    padding: 0 30px
    background-color: $color__black
    box-sizing: border-box
    z-index: 1

  &__rights
    position: absolute
    left: 0
    bottom: 10px
    color: $color__white
    font-size: $font-size__basic * 0.55

    @include max-screen(600px)
      bottom: -20px

  &__pay-systems
    position: absolute
    right: 0
    bottom: 10px

    img
      display: inline-block
      vertical-align: middle
      margin-right: 8px

    @include max-screen(600px)
      display: none


  &__button-up
    display: block
    position: absolute
    top: 0
    right: 15%
    width: 40px
    height: 40px
    text-transform: uppercase
    background-color: #5a5a5a
    font-size: 0
    border: 0
    transition: background-color 0.3s ease
    cursor: pointer

    .fa
      color: $color__white

    &::after
      content: ''
      display: block
      position: absolute
      top: calc(50% - 3px)
      left: calc(50% - 7px)
      width: 14px
      height: 14px
      margin: 0
      padding: 0
      border-left: 1px solid $color__white
      border-top: 1px solid $color__white
      transform: rotate(45deg)
      transition: border-color 0.3s ease

      @include max-screen(760px)
        display: none

    &:focus
      outline: none

    @include max-screen(1270px)
      right: 20px

    @include min-screen(1020px)
      &:hover
        background-color: $color__white

      &::after
        border-color: $color__black

    @include max-screen(760px)
      position: relative
      top: auto
      left: auto
      right: auto
      width: 100%
      height: 56px
      color: #b8b8b8
      background-color: $color__black
      font-family: $font-family__libreBaskerville
      font-size: $font-size__basic * 0.65

      span
        padding: 0 15px

      .fa
        vertical-align: baseline
        font-size: $font-size__basic

  &__button
    display: none
    -webkit-appearance: none
    vertical-align: top
    width: 50%
    padding: 20px 0
    margin: 0 0 10px
    text-align: center
    text-transform: uppercase
    color: $color__black
    background-color: $color__white
    font-family: $font-family__centuryGothic
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.8
    line-height: 1
    border: none
    outline: none
    box-sizing: border-box

    &--call
      border-right: 1px solid $color__black

    &--email
      border-left: 1px solid $color__black

    @include max-screen(760px)
      display: inline-block

