.free-futures
  &__content
    @extend %layout-content
    font-size: 0

  &__item
    display: inline-block
    vertical-align: middle
    width: 33.3333%
    padding: 22px 0
    text-align: center
    color: $color__white
    background-color: $color__green

    &:nth-child(2)
      background-color: $color__greenDark

    @include max-screen(700px)
      width: 100%

  &__icon
    display: inline-block
    vertical-align: top
    height: 30px
    padding-right: 15px
    border-right: 1px solid $color__white

    img
      height: 100%


  &__text
    display: inline-block
    vertical-align: top
    height: 30px
    padding-left: 15px
    text-align: left

    @include max-screen(700px)
      width: 145px

  &__title
    margin-bottom: 4px
    text-transform: uppercase
    font-size: $font-size__basic * 0.75
    font-family: $font-family__libreBaskerville
    font-weight: $font-weight__bold

    span
      text-transform: none
      font-style: italic
      font-weight: $font-weight__regular

  &__caption
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.5