.header
  $height__header-onscroll: 90px

  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 122px
  padding-top: 20px
  background-color: $color__white
  box-sizing: border-box
  transition: all 0.3s ease
  z-index: 10

  @include max-screen(450px)
    height: 76px
    padding-top: 13px

  &--onscroll
    height: $height__header-onscroll
    padding-top: 15px
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3)

    @include max-screen(450px)
      height: 50px
      padding-top: 10px

    .header__top-bar
      margin-bottom: 15px

    .header__navigation
      height: 38px

      @include max-screen(1020px)
        height: calc(100% - #{$height__header-onscroll})
        top: $height__header-onscroll

      @include max-screen(450px)
        height: calc(100% - 50px)
        top: 50px

    .sub-navigation
      top: $height__header-onscroll

      @include max-screen(1020px)
        top: 0

    .search
      @include max-screen(1020px)
        top: 38px

      @include max-screen(450px)
        top: 17px

    .search__input,
    .search__button-close
      top: $height__header-onscroll

      @include max-screen(450px)
        top: 50px

  @include max-screen(1020px)
    background-color: $color__greenDark

  &__content
    @extend %layout-content
    padding: 0 30px

    @include max-screen(1270px)
      padding: 0 15px

  &__logo
    display: block
    float: left
    width: 111px
    text-align: center
    text-decoration: none

    @include max-screen(1020px)
      float: none
      margin: auto

  &__logo-image

    &--desktop
      @include max-screen(1020px)
        display: none

    &--tablet
      display: none
      @include max-screen(1020px)
        display: inline-block
        vertical-align: middle

      @include max-screen(450px)
        display: none

    &--mobile
      display: none
      @include max-screen(450px)
        display: inline-block
        vertical-align: middle

  &__top-bar
    float: right
    margin-bottom: 29px
    text-align: right
    width: calc(100% - 111px)
    transition: margin-bottom 0.3s ease

    @include max-screen(1020px)
      float: none
      position: absolute
      top: calc(50% - 9px)
      right: 25px
      width: auto
      margin-bottom: 0

  &__bottom-bar
    float: right
    text-align: right
    width: calc(100% - 111px)

    @include max-screen(1020px)
      float: none
      position: fixed
      left: 0
      top: 0
      width: 0
      height: 100%
      background-color: rgba(0, 0, 0, 0.41)
      transition: all 0.3s ease
      overflow: hidden
      z-index: 11

    &--active
      width: 100%

      .header__navigation
        left: 0

  &__navigation
    display: inline-block
    vertical-align: top
    height: 50px
    padding-top: 8px

    @include max-screen(1020px)
      position: absolute
      top: $height__header
      left: -100%
      width: 50%
      height: calc(100% - #{$height__header})
      padding-top: 0
      background-color: $color__white
      box-sizing: border-box
      transition: all 0.5s ease
      overflow: scroll
      -webkit-overflow-scrolling: touch

    @include max-screen(760px)
      width: 100%

    @include max-screen(450px)
      height: calc(100% - 76px)
      top: 76px

  &__search
    display: inline-block
    vertical-align: top
