.icon
  &--user
    display: inline-block
    vertical-align: bottom
    width: 10px
    height: 15px
    background-image: url($path__img + 'icons/icon__user.svg')
    background-repeat: no-repeat
    background-size: cover

  &--basket
    display: inline-block
    vertical-align: bottom
    width: 13px
    height: 15px
    background-image: url($path__img + 'icons/icon__basket.svg')
    background-repeat: no-repeat
    background-size: cover

  &--basket-white
    display: inline-block
    vertical-align: bottom
    width: 15px
    height: 18px
    background-image: url($path__img + 'icons/icon__basket-white.svg')
    background-repeat: no-repeat
    background-size: cover

  &--heart
    display: inline-block
    vertical-align: bottom
    width: 14px
    height: 15px
    background-image: url($path__img + 'icons/icon__heart.svg')
    background-repeat: no-repeat
    background-size: cover