.instagram
  &::after
    content: ''
    display: table
    clear: both

  &__item
    float: left
    width: 17%
    height: 250px
    text-align: center
    box-sizing: border-box

    @include max-screen(1270px)
      height: 200px

    @include max-screen(1000px)
      height: 160px

    @include max-screen(850px)
      height: 130px

    @include max-screen(760px)
      width: 50%
      height: 300px

    @include max-screen(600px)
      height: 250px

    @include max-screen(450px)
      height: 200px

    @include max-screen(350px)
      height: 170px

    &--headline
      width: 32%
      padding-top: 70px
      background-color: $color__beige

      @include max-screen(1270px)
        padding-top: 40px

      @include max-screen(1000px)
        padding-top: 30px

      @include max-screen(850px)
        padding-top: 20px

      @include max-screen(760px)
        width: 100%
        height: auto
        padding: 30px 0

  &__image
    display: block
    width: 100%
    height: 100%
    object-fit: cover
    @include object-fit(cover)

  &__caption
    margin-bottom: 20px
    text-transform: uppercase
    color: $color__white
    font-weight: $font-weight__bold
    letter-spacing: 0.5px

    @include max-screen(1000px)
      margin-bottom: 15px
      font-weight: $font-weight__bold * 0.85

    @include max-screen(850px)
      margin-bottom: 10px
      font-weight: $font-weight__bold * 0.8

    @include max-screen(760px)
      margin-bottom: 25px
      font-weight: $font-weight__bold * 1.1

      &:last-child
        margin-bottom: 0

    @include max-screen(400px)
      margin-bottom: 20px
      font-size: $font-size__basic * 0.85

  &__hashtag
    display: inline-block
    vertical-align: middle
    margin-bottom: 20px
    color: $color__black
    font-family: $font-family__libreBaskerville
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 2.1

    @include max-screen(1270px)
      font-size: $font-size__basic * 1.7

    @include max-screen(1000px)
      margin-bottom: 15px
      font-size: $font-size__basic * 1.3

    @include max-screen(850px)
      margin-bottom: 10px
      font-size: $font-size__basic * 1.1

    @include max-screen(760px)
      margin-bottom: 25px
      font-size: $font-size__basic * 1.7

    @include max-screen(400px)
      margin-bottom: 20px
      font-size: $font-size__basic * 1.3