.look
  padding: 40px 0
  background-color: $color__greyLight

  @include max-screen(760px)
    padding: 20px 0


  &__content
    @extend %layout-content
    padding: 0 40px

    @include max-screen(1270px)
      padding: 0 25px

    @include max-screen(760px)
      padding: 0 20px

  &__slider
    position: relative

  &__item
    position: relative
    height: 387px
    margin: 0 5px
    background-color: $color__white
    background-repeat: no-repeat
    background-size: cover
    background-position: 50%

    &:focus
      outline: none

    @include max-screen(1100px)
      height: 330px

    @include max-screen(1020px)
      height: 290px

    @include max-screen(820px)
      height: 220px

    @include max-screen(760px)
      height: 300px

    @include max-screen(600px)
      height: 250px

    @include max-screen(530px)
      height: 430px

    @include max-screen(450px)
      height: 380px

    @include max-screen(400px)
      height: 330px

    @include max-screen(370px)
      height: 290px

    &--without-bg
      background-color: $color__transparent

    &--mobile
      display: none
      background-color: $color__transparent

      @include max-screen(640px)
        display: block
        width: 60%
        height: auto
        min-height: 320px
        margin: 0 auto 15px

      @include max-screen(640px)
        width: 80%

      @include max-screen(400px)
        min-height: 280px

  &__item-content
    padding-top: 40px
    box-sizing: border-box

    @include max-screen(1100px)
      padding-top: 10px

    @include max-screen(760px)
      padding-top: 40px

    @include max-screen(530px)
      padding-top: 60px

    @include max-screen(380px)
      padding-top: 35px

  &__caption
    position: relative
    margin-bottom: 40px
    text-transform: uppercase
    text-align: center
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 1.2

    @include max-screen(820px)
      margin-bottom: 25px
      font-size: $font-size__basic

    @include max-screen(760px)
      margin-bottom: 30px

    @include max-screen(530px)
      font-size: $font-size__basic * 1.1

    &::after
      content: ''
      display: block
      position: absolute
      left: 42%
      bottom: -15px
      width: 16%
      height: 2px
      background-color: $color__black

      @include max-screen(820px)
        bottom: -8px

  &__description
    margin-bottom: 100px
    padding: 0 30px
    text-align: center
    color: #5a5a5a
    font-family: $font-family__libreBaskerville
    font-size: $font-size__basic * 0.6
    line-height: 1.5

    @include max-screen(1100px)
      margin-bottom: 50px
      padding: 0 10px

    @include max-screen(820px)
      margin-bottom: 30px
      line-height: 1.1

    @include max-screen(760px)
      margin-bottom: 40px

  &__collaborators
    text-align: center

  &__logo
    display: inline-block
    vertical-align: middle
    width: 30%

  &__logo-beval
    display: block
    margin: auto
    @include max-screen(1100px)
      width: 70px

  &__logo-pole-vore
    @include max-screen(1100px)
      width: 45px

  &__delimiter
    display: inline-block
    vertical-align: middle
    position: relative
    width: 100px
    height: 100px
    margin: 0 20px

    @include max-screen(1100px)
      width: 60px
      height: 60px
      margin: 0 15px

    @include max-screen(900px)
      width: 45px
      height: 45px
      margin: 0 10px

    @include max-screen(530px)
      width: 55px
      height: 55px

    &::after
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      width: 140%
      height: 1px
      background-color: $color__grey
      transform: rotate(45deg)
      transform-origin: 0 0

    &::before
      content: ''
      display: block
      position: absolute
      top: 0
      right: 0
      width: 140%
      height: 1px
      background-color: $color__grey
      transform: rotate(-45deg)
      transform-origin: 100%

  &__control
    position: absolute
    top: 50%
    width: 10px
    height: 10px
    transform: rotate(45deg)
    cursor: pointer

    @include max-screen(1270px)
      width: 6px
      height: 6px

    &--prev
      left: -30px
      border-left-width: 2px
      border-bottom-width: 2px
      border-left-style: solid
      border-bottom-style: solid

      @include max-screen(1270px)
        left: -10px

    &--next
      right: -30px
      border-top-width: 2px
      border-right-width: 2px
      border-top-style: solid
      border-right-style: solid

      @include max-screen(1270px)
        right: -10px
