.main-slider
  &__item
    position: relative
    width: 100%
    height: 100vh
    padding-top: 122px
    background-repeat: no-repeat
    background-position: 50%
    background-size: cover
    border-bottom: 11px solid $color__beige
    box-sizing: border-box

    &:focus
      outline: none

  .slick-dots
    position: absolute
    width: 100%
    left: 0
    bottom: 30px
    text-align: center

    li
      display: inline-block
      vertical-align: middle
      width: 12px
      height: 12px
      margin-right: 10px
      border: 2px solid $color__white
      border-radius: 50%
      cursor: pointer

      &:last-child
        margin-right: 0

    li.slick-active
      background-color: $color__white

    button
      display: none

  &__caption
    position: absolute
    width: 280px
    right: 15%
    bottom: 20%
    text-align: center
    color: $color__white
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6)

    @include max-screen(760px)
      width: 100%
      left: 0
      top: 40%

    @include max-screen(370px)
      top: 35%

  &__caption-top
    position: relative
    margin-bottom: 20px
    padding-bottom: 20px
    text-transform: uppercase
    font-family: $font-family__libreBaskerville
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 2.8

    @include max-screen(400px)
      font-size: $font-size__basic * 2

    &::after
      content: ''
      display: block
      position: absolute
      bottom: 0
      left: 15%
      width: 70%
      height: 2px
      background-color: $color__white

      @include max-screen(400px)
        left: 25%
        width: 50%

  &__caption-for
    display: block
    margin-bottom: 6px
    text-transform: uppercase
    font-family: $font-family__helvetica
    font-weight: $font-weight__bold

    @include max-screen(400px)
      font-size: $font-size__basic * 0.8

  &__caption-category
    display: block
    text-transform: uppercase
    font-family: $font-family__libreBaskerville
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 1.7

    @include max-screen(400px)
      font-size: $font-size__basic * 1.2


