.mobile-banner
  display: none
  height: 370px
  margin-top: 15px
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  font-size: 0

  @include max-screen(400px)
    height: 300px

  &::after
    content: ''
    display: inline-block
    vertical-align: middle
    width: 0
    height: 100%
    font-size: 0

  @include max-screen(640px)
    display: block

  &__content
    display: inline-block
    vertical-align: middle
    width: 100%

  &__headline
    position: relative
    margin-bottom: 40px
    text-transform: uppercase
    text-align: center
    color: $color__white
    font-family: $font-family__libreBaskerville
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 2.3
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.71)

    @include max-screen(400px)
      font-size: $font-size__basic * 1.9
      margin-bottom: 30px

    &::after
      content: ''
      display: block
      position: absolute
      bottom: -20px
      left: 30%
      width: 40%
      height: 2px
      background-color: $color__white

      @include max-screen(400px)
        bottom: -15px

  &__caption
    margin-bottom: 60px
    text-align: center
    color: $color__white
    font-family: $font-family__libreBaskerville
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 1.1
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.71)

    @include max-screen(400px)
      margin-bottom: 50px


  &__button
    display: block
    position: relative
    width: 240px
    margin: auto
    padding: 11px 0
    text-align: center
    text-transform: uppercase
    text-decoration: none
    color: $color__black
    background-color: $color__white
    font-family: $font-family__helvetica
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.87

    @include max-screen(400px)
      font-size: $font-size__basic * 0.8

    &::after
      content: ''
      display: block
      position: absolute
      top: calc(50% - 4px)
      right: 25px
      width: 6px
      height: 6px
      border-top: 2px solid $color__black
      border-right: 2px solid $color__black
      transform: rotate(45deg)