.navigation
  font-size: 0 //Display inline block right indent fix. Set font-size on child elements.

  &__list
    height: 100%

  &__item
    display: inline-block
    vertical-align: middle
    position: relative
    height: 100%
    padding: 0 10px

    &--account
      display: none

    &--resource-center
      margin-right: 40px

    &:first-child
      .navigation__link
        border: none

    &::before
      content: ''
      display: none
      position: fixed
      top: 89px
      left: 0
      width: 100%
      height: 35px
      z-index: 15
      cursor: pointer

    &--delimiter
      margin-right: 50px

      &::after
        content: ''
        display: block
        position: absolute
        top: 0
        right: -25px
        height: 15px
        width: 1px
        background-color: $color__grey

    @include max-screen(1020px)
      display: block
      width: 100%
      height: auto
      margin-right: 0
      padding: 0 25px
      text-align: left
      box-sizing: border-box

      &::after
        display: none

      &--has-subnavigation
        &::after
          content: ''
          display: block
          position: absolute
          top: 28px
          right: 25px
          width: 0
          height: 0
          background-color: $color__transparent
          border-left: 5px solid transparent
          border-right: 5px solid transparent
          border-top: 5px solid $color__black

    @include min-screen(1020px)
      &:hover
        &::before
          display: block

        .navigation__link
          color: $color__green
          &::after
            left: 0
            right: 0
            background-color: $color__green

        .sub-navigation
          display: block

    @include max-screen(1020px)
      &[data-state='enabled']
        .navigation__link
          color: $color__green

        &.navigation__item--has-subnavigation
          &::after
            transform: rotate(180deg)

        .sub-navigation
          display: block
          padding-top: 0

        .sub-navigation__layout
          display: block

          &--stable
            .sub-navigation__list
              display: block
              margin-bottom: 20px
              padding-left: 15px

              .sub-navigation__link
                margin-bottom: 0
                font-weight: $font-weight__regular

        .sub-navigation__list-title
          display: block

        .resource-center
          display: block

          .blog-preview
            display: block

  &__link
    display: block
    height: 100%
    position: relative
    text-decoration: none
    text-transform: uppercase
    color: $color__greenDark
    font-size: $font-size__basic * 0.75
    font-weight: $font-weight__bold
    letter-spacing: 0.6px
    transition: color 0.4s ease
    cursor: pointer

    &::after
      content: ''
      position: absolute
      display: block
      top: 22px
      left: 50%
      right: 50%
      height: 2px
      background-color: $color__transparent
      transition: all 0.4s ease

      @include max-screen(1020px)
        display: none

    @include max-screen(1020px)
      height: auto
      padding: 20px 0
      box-sizing: border-box
      color: $color__black
      font-size: $font-size__basic * 0.9
      border-top: 1px solid #666

    @include max-screen(370px)
      padding: 12px 0

  &__button
    display: none
    -webkit-appearance: none
    vertical-align: top
    width: 50%
    padding: 15px 0
    margin: 0
    text-align: center
    text-transform: uppercase
    font-family: $font-family__centuryGothic
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.7
    line-height: 1
    border: none
    outline: none
    box-sizing: border-box

    .fa
      margin-right: 5px

    &--sign-in
      color: $color__white
      background-color: $color__black
      border-right: 1px solid $color__white

      @include max-screen(1020px)
        display: inline-block

    &--call
      color: $color__green
      background-color: #e4e3e2
      border-right: 1px solid $color__white
      border-top: 2px solid $color__white

    &--email
      color: $color__green
      background-color: #e4e3e2
      border-left: 1px solid $color__white
      border-top: 2px solid $color__white

    &--visible
      display: inline-block

  &__contact-us
    display: none
    vertical-align: top
    width: 50%
    padding: 15px 0
    text-align: center
    text-transform: uppercase
    text-decoration: none
    color: $color__white
    background-color: $color__black
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.7
    border-left: 1px solid $color__white
    box-sizing: border-box

    @include max-screen(1020px)
      display: inline-block