.navigation-button
  display: none
  position: absolute
  top: calc(50% - 10px)
  left: 25px
  width: 26px
  height: 20px
  background-color: $color__transparent
  font-size: 0
  border: none
  z-index: 1000

  @include max-screen(450px)
    width: 17px
    height: 14px
    top: calc(50% - 7px)

  &:focus
    outline: none

  @include max-screen(1020px)
    display: block

  &::before,
  &::after
    content: ''
    display: block
    position: absolute
    left: 0
    width: 100%
    height: 2px
    background-color: $color__white
    transition: all 0.3s ease

  &::after
    bottom: 0

  &::before
    top: 0

  &--onclick
    &::after
      bottom: calc(50% - 1px)

    &::before
      top: calc(50% - 1px)

    .navigation-button__layout
      opacity: 0

  &--active
    &::before
      transform: rotate(45deg)

    &::after
      transform: rotate(-45deg)

  &__layout
    position: absolute
    top: calc(50% - 1px)
    left: 0
    width: 100%
    height: 2px
    background-color: $color__white
    transition: all 0.3s ease