.popup
  display: none
  position: fixed
  top: calc(50% - 170px)
  left: calc(50% - 330px)
  width: 660px
  height: 340px
  padding: 50px 0
  background-color: $color__greyLight
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3)
  z-index: 1000

  &--active
    display: block

  @include max-screen(680px)
    display: none

  &__layout
    float: left
    width: 50%
    height: 100%
    padding: 0 50px
    font-size: 0
    box-sizing: border-box

    &:first-child
      border-right: 1px solid #919191

    &--centered
      &::after
        content: ''
        display: inline-block
        vertical-align: middle
        height: 100%
        width: 0

  &__centered-content
    display: inline-block
    vertical-align: middle
    width: 100%

    &--with-caption
      position: relative
      top: -60px //60x - height + margin bottom of .popup__caption

  &__close
    -webkit-appearance: none
    display: block
    position: absolute
    top: 0
    right: 0
    width: 40px
    height: 40px
    padding: 0
    margin: 0
    background-color: #b8b8b8
    font-size: 0
    border: none
    transition: top 0.3s ease
    cursor: pointer

    &::after
      content: ''
      display: block
      position: absolute
      top: 4px
      left: 5px
      width: 105%
      height: 2px
      background-color: $color__white
      transform: rotate(45deg)
      transform-origin: 0 0

    &::before
      content: ''
      display: block
      position: absolute
      top: 4px
      right: 5px
      width: 105%
      height: 2px
      background-color: $color__white
      transform: rotate(-45deg)
      transform-origin: 100%

    &:focus
      outline: none

  &__vertical-or
    position: absolute
    top: calc(50% - 19px)
    left: calc(50% - 12px)
    padding: 10px 0
    text-transform: uppercase
    background-color: $color__greyLight
    font-family: $font-family__libreBaskerville
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.7

  &__caption
    position: relative
    margin-bottom: 40px
    font-family: $font-family__libreBaskerville
    font-weight: $font-weight__bold
    font-size: $font-size__basic

    &::after
      content: ''
      display: block
      position: absolute
      left: 0
      bottom: -13px
      width: 55px
      height: 1px
      background-color: $color__black

  &__sub-caption
    margin-bottom: 20px
    font-family: $font-family__libreBaskerville
    font-weight: $font-weight__regular
    font-size: $font-size__basic * 0.8

  &__button
    display: block
    width: 100%
    margin-bottom: 10px
    padding: 10px 0
    text-align: center
    text-transform: uppercase
    text-decoration: none
    color: $color__white
    background-color: $color__greenDark
    font-family: $font-family__centuryGothic
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.65
    border: 3px solid $color__greenDark
    box-sizing: border-box
    transition: all 0.3s ease
    cursor: pointer

    &:focus
      outline: none

    &--last
      margin-bottom: 0

    &:hover
      background-color: darken($color__greenDark, 10%)
      border: 3px solid darken($color__greenDark, 10%)

    &--bordered
      background-color: #f7f5f5
      color: $color__greenDark
      border: 3px solid $color__greenDark
      box-sizing: border-box

      &:hover
        background-color: darken(#f7f5f5, 10%)

  &__delimiter
    position: relative
    text-align: center
    padding: 15px 0

    &::before
      content: ''
      display: block
      position: absolute
      top: 52%
      left: 20%
      width: 60%
      height: 1px
      background-color: $color__black
      z-index: 1

  &__delimiter-caption
    display: inline-block
    vertical-align: middle
    position: relative
    padding: 0 8px
    text-transform: uppercase
    background-color: $color__greyLight
    font-family: $font-family__libreBaskerville
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.6
    z-index: 2

  &__form
    display: block
    width: 100%

  &__input
    -webkit-appearance: none
    display: block
    width: 100%
    padding: 10px 15px
    background-color: #f7f5f5
    border: 1px solid $color__greenDark
    font-family: $font-family__centuryGothic
    font-size: $font-size__basic * 0.6
    box-sizing: border-box

  &__submit
    display: block
    width: 100%
    margin-bottom: 20px
    padding: 10px 0
    text-align: center
    text-transform: uppercase
    color: $color__white
    background-color: $color__greenDark
    font-family: $font-family__centuryGothic
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.7
    border: none
    transition: all 0.3s ease
    cursor: pointer

    &:focus
      outline: none

    &:hover
      background-color: darken($color__greenDark, 10%)

  &__link
    display: inline-block
    vertical-align: bottom
    width: 100%
    margin-bottom: 8px
    text-decoration: none
    color: $color__black
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.6

    &--with-angle
      &::after
        content: '>'
        display: inline-block
        vertical-align: bottom
        margin-left: 3px
        font-size: $font-size__basic * 0.6

    &:hover
      color: $color__green

  &__list
    margin-bottom: 20px
    list-style-type: disc

  &__list-item
    margin-left: 15px
    margin-bottom: 8px
    font-size: $font-size__basic * 0.6

    .popup__link
      margin-bottom: 0
      font-family: $font-family__helvetica
      font-weight: $font-weight__regular
      font-size: $font-size__basic * 0.6