.products
  &__content
    @extend %layout-content
    padding: 0 20px 50px

  &__list
    padding-top: 30px
    &::after
      content: ''
      display: table
      clear: both

  &__item
    float: left
    width: 20%
    margin-right: 6.6666%
    margin-bottom: 50px

    &:nth-child(4n)
      margin-right: 0

    @include max-screen(1270px)
      width: 23%
      margin-right: 2.6666%

    @include max-screen(900px)
      width: 30%
      margin-right: 5%

      &:nth-child(4n)
        margin-right: 5%

      &:nth-child(3n)
        margin-right: 0

    @include max-screen(600px)
      width: 48%
      margin-right: 4%

      &:nth-child(3n)
        margin-right: 4%

      &:nth-child(2n)
        margin-right: 0

    @include max-screen(370px)
      float: none
      width: 100%
      margin-right: 0

  &__cover
    display: block
    position: relative
    height: 300px
    margin-bottom: 15px
    text-decoration: none
    background-color: $color__greyLight
    font-size: 0
    overflow: hidden

    &:focus
      outline: none

    &::after
      content: ''
      display: inline-block
      vertical-align: middle
      width: 0
      height: 100%

    @include max-screen(760px)
      height: 250px

    @include max-screen(600px)
      height: 300px

    @include max-screen(450px)
      height: 250px

    @include max-screen(370px)
      height: 340px

  &__cover-label
    position: absolute
    top: 0
    left: 0
    padding: 7px 12px
    text-transform: uppercase
    color: $color__white
    background-color: $color__black
    font-size: $font-size__basic * 0.6

  &__image
    display: inline-block
    vertical-align: middle
    width: 100%

  &__brand-name
    display: inline-block
    vertical-align: middle
    height: 12px
    width: 100%
    margin-bottom: 7px
    text-transform: uppercase
    text-decoration: none
    color: #b8b8b8
    font-size: $font-size__basic * 0.6
    font-weight: $font-weight__bold
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

    &:hover
      color: $color__black

    @include max-screen(370px)
      height: auto
      white-space: normal


  &__product-name
    display: block
    width: 100%
    height: 35px
    margin-bottom: 10px
    text-decoration: none
    color: $color__black
    font-family: $font-family__libreBaskerville
    font-size: $font-size__basic * 0.8
    font-weight: $font-weight__bold
    overflow: hidden
    text-overflow: ellipsis

    &:hover
      color: $color__green

    @include max-screen(760px)
      height: 52px

    @include max-screen(370px)
      height: auto

  &__price
    margin-right: 6px
    color: $color__black
    font-family: $font-family__libreBaskerville
    font-size: $font-size__basic * 0.8
    font-weight: $font-weight__bold

    &--old
      text-decoration: line-through
      color: #b8b8b8
      margin-right: 0

  &__more
    display: block
    position: relative
    width: 210px
    margin: auto
    padding: 15px 0
    text-align: center
    text-transform: uppercase
    text-decoration: none
    color: $color__green
    background-color: $color__white
    font-size: $font-size__basic * 0.8
    font-weight: $font-weight__bold
    border: 3px solid $color__green
    z-index: 1
    cursor: pointer

    &::before
      background: lighten($color__green, 5%)

    &::after
      background: $color__green

    &:hover
      color: $color__white

    &--aylen
      overflow: hidden
      -webkit-transition: color 0.4s
      transition: color 0.4s

    &--aylen::before,
    &--aylen::after
      content: ''
      position: absolute
      height: 100%
      width: 100%
      bottom: 100%
      left: 0
      z-index: -1
      -webkit-transition: -webkit-transform 0.4s
      transition: transform 0.4s
      -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1)
      transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1)

    &--aylen:hover::before,
    &--aylen:hover::after
      -webkit-transform: translate3d(0, 100%, 0)
      transform: translate3d(0, 100%, 0)

    &--aylen:hover::after
      -webkit-transition-delay: 0.175s
      transition-delay: 0.175s