.promo
  &::after
    content: ''
    display: table
    clear: both

  &__layout
    width: 50%

    &::after
      content: ''
      display: table
      clear: both

    &--left
      float: left

    &--right
      float: right

      .promo__item
        float: right

    @include max-screen(760px)
      float: none
      width: 100%

  &__item
    float: left
    position: relative
    width: 50%
    height: 395px
    box-sizing: border-box

    @include max-screen(1440px)
      height: 340px

    @include max-screen(1190px)
      height: 290px

    @include max-screen(950px)
      height: 230px

    @include max-screen(760px)
      float: none
      width: 100%
      height: 300px

    &--cover
      overflow: hidden

      @include max-screen(520px)
        height: 250px

      @include max-screen(420px)
        height: 200px

      @include max-screen(370px)
        height: 185px

    &--left
      padding-top: 8%
      text-align: center
      background-color: #aa3932
      background-image: url($path__img + 'bg/bg__promo-right.png')
      z-index: 1

      @include max-screen(950px)
        padding-top: 5%

      @include max-screen(760px)
        padding-top: 10%

      @include max-screen(460px)
        padding-top: 15%

      &::before
        content: ''
        display: block
        position: absolute
        top: calc(50% - 18px)
        left: -18px
        width: 36px
        height: 36px
        background-color: #aa3932
        transform: rotate(45deg)
        z-index: -1

        @include max-screen(760px)
          top: -18px
          left: calc(50% - 18px)

      .promo__item-caption
        margin-bottom: 16px
        color: $color__white

      .promo__item-headline
        color: $color__white
        font-size: $font-size__basic * 2.5
        font-family: $font-family__libreBaskerville
        font-style: italic

        @include max-screen(1360px)
          font-size: $font-size__basic * 2

        @include max-screen(1030px)
          font-size: $font-size__basic * 1.7

        @include max-screen(760px)
          font-size: $font-size__basic * 2.2

      .promo__link
        color: $color__beige
        border: 4px solid $color__beige

        &::before
          background: #feedbd

        &::after
          background: $color__beige

        &:hover
          color: $color__black

    &--right
      padding-top: 3%
      text-align: center
      background-color: $color__beige

      @include max-screen(1440px)
        padding-top: 2%

      @include max-screen(760px)
        padding-top: 4%

      @include max-screen(460px)
        padding-top: 8%

      &::before
        content: ''
        display: block
        position: absolute
        top: calc(50% - 18px)
        right: -18px
        width: 36px
        height: 36px
        background-color: $color__beige
        transform: rotate(45deg)
        z-index: 1

        @include max-screen(760px)
          top: -18px
          left: calc(50% - 18px)
          right: auto

      .promo__item-caption
        margin-bottom: 15px
        color: $color__black
        line-height: 2.2

        @include max-screen(1360px)
          line-height: 1.8

        @include max-screen(950px)
          line-height: 1.3

      .promo__item-headline
        position: relative
        text-transform: uppercase
        color: $color__white
        font-size: $font-size__basic * 2
        font-family: $font-family__libreBaskerville

        @include max-screen(1360px)
          font-size: $font-size__basic * 1.6

        @include max-screen(1030px)
          font-size: $font-size__basic * 1.4

        @include max-screen(950px)
          font-size: $font-size__basic * 1.2

        @include max-screen(760px)
          font-size: $font-size__basic * 1.9

        &::after
          content: ''
          display: block
          position: absolute
          left: 35%
          bottom: -15px
          width: 30%
          height: 3px
          background-color: $color__white

      .promo__link
        color: $color__black
        border: 4px solid $color__black

        &::before
          background: #494949

        &::after
          background: $color__black

        &:hover
          color: $color__white

  &__item-image
    width: 100%
    height: 100%
    object-fit: cover
    @include object-fit(cover)

    @include max-screen(760px)
      animation: none
      width: 100%
      height: 100%

  &__item-caption
    text-transform: uppercase
    font-weight: $font-weight__bold
    font-size: $font-size__basic

    @include max-screen(1100px)
      font-size: $font-size__basic * 0.8

    @include max-screen(950px)
      font-size: $font-size__basic * 0.7

    @include max-screen(760px)
      font-size: $font-size__basic * 0.85

  &__link
    display: block
    position: absolute
    left: 25%
    bottom: 35px
    width: 50%
    padding: 12px 0
    text-align: center
    text-transform: uppercase
    text-decoration: none
    font-size: $font-size__basic * 0.7
    font-weight: $font-weight__bold
    z-index: 1

    @include max-screen(950px)
      left: 15%
      bottom: 25px
      width: 70%
      padding: 7px 0

    @include max-screen(760px)
      left: 25%
      bottom: 35px
      width: 50%
      padding: 10px 0

    @include max-screen(460px)
      left: 20%
      bottom: 30px
      width: 60%
      padding: 12px 0

    &--aylen
      overflow: hidden
      -webkit-transition: color 0.4s
      transition: color 0.4s

    &--aylen::before,
    &--aylen::after
      content: ''
      position: absolute
      height: 100%
      width: 100%
      bottom: 100%
      left: 0
      z-index: -1
      -webkit-transition: -webkit-transform 0.4s
      transition: transform 0.4s
      -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1)
      transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1)

    &--aylen:hover::before,
    &--aylen:hover::after
      -webkit-transform: translate3d(0, 100%, 0)
      transform: translate3d(0, 100%, 0)

    &--aylen:hover::after
      -webkit-transition-delay: 0.175s
      transition-delay: 0.175s

