.recent-posts
  padding: 40px 0 70px

  @include max-screen(760px)
    padding: 20px 0 35px

  &__content
    @extend %layout-content
    padding: 0 80px

    @include max-screen(1270px)
      padding: 0 40px

    @include max-screen(760px)
      padding: 0 20px

  &__headline
    position: relative
    padding: 25px 0
    text-align: center
    text-transform: uppercase
    font-size: $font-size__basic * 0.9
    font-weight: $font-weight__bold
    border-bottom: 2px solid #b8b8b8
    overflow: hidden

    @include max-screen(640px)
      padding: 20px 0
      font-size: $font-size__basic * 0.8
      border-bottom: 1px solid #b8b8b8

    &::after
      content: ''
      display: block
      position: absolute
      left: calc(50% - 5px)
      bottom: -6px
      width: 10px
      height: 10px
      background-color: #b8b8b8
      transform: rotate(45deg)

      @include max-screen(640px)
        display: none

  &__slider
    position: relative
    padding-top: 30px

  &__item
    margin: 0 10px

    &:focus
      outline: none

  &__cover
    display: block
    height: 277px
    margin-bottom: 25px
    text-decoration: none

    &:focus
      outline: none

    @include max-screen(1000px)
      height: 230px

    @include max-screen(830px)
      height: 190px

    @include max-screen(760px)
      height: 250px

    @include max-screen(600px)
      height: 200px

    @include max-screen(490px)
      height: 340px

    @include max-screen(400px)
      height: 220px

    @include max-screen(370px)
      height: 200px

  &__image
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center
    @include object-fit(cover, center)

  &__title
    display: block
    margin-bottom: 15px
    text-decoration: none
    color: $color__black
    font-family: $font-family__libreBaskerville
    font-weight: $font-weight__bold

    &:hover
      color: $color__green

    @include max-screen(640px)
      font-size: $font-size__basic * 0.85

  &__author
    display: block
    margin-bottom: 5px
    text-transform: uppercase
    color: $color__green
    font-size: $font-size__basic * 0.6
    font-weight: $font-weight__bold

  &__preview
    margin-bottom: 20px
    font-family: $font-family__libreBaskerville
    font-size: $font-size__basic * 0.6
    line-height: 1.6

  &__tag-link
    margin-right: 5px
    color: $color__grey
    font-size: $font-size__basic * 0.7

    &:hover
      color: $color__green

    &:last-child
      margin-right: 0

  &__control
    position: absolute
    top: 160px
    width: 10px
    height: 10px
    transform: rotate(45deg)
    cursor: pointer

    @include max-screen(1270px)
      width: 6px
      height: 6px

    @include max-screen(1000px)
      top: 140px

    @include max-screen(830px)
      top: 125px

    @include max-screen(760px)
      top: 150px

    @include max-screen(600px)
      top: 125px

    @include max-screen(490px)
      top: 195px

    @include max-screen(400px)
      top: 130px

    &--prev
      left: -70px
      border-left-width: 2px
      border-bottom-width: 2px
      border-left-style: solid
      border-bottom-style: solid

      @include max-screen(1270px)
        left: -15px

      @include max-screen(760px)
        left: -10px

    &--next
      right: -70px
      border-top-width: 2px
      border-right-width: 2px
      border-top-style: solid
      border-right-style: solid

      @include max-screen(1270px)
        right: -15px

      @include max-screen(760px)
        right: -10px
