.resource-center

  @include max-screen(1020px)
    display: none

  &__blog
    float: left
    width: calc(100% - 260px)
    padding-right: 60px
    box-sizing: border-box

    @include max-screen(1020px)
      float: none
      width: 100%
      margin-bottom: 20px
      padding: 0

  &__services
    float: right
    width: 260px
    padding-left: 50px
    border-left: 1px solid $color__grey
    box-sizing: border-box

    @include max-screen(1020px)
      float: none
      width: 100%
      padding: 0
      border: none

  &__headline
    display: inline-block
    vertical-align: baseline
    position: relative
    margin-bottom: 35px
    text-decoration: none
    color: $color__black
    font-family: $font-family__libreBaskerville
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.8

    @include max-screen(1020px)
      margin-bottom: 15px

    &::after
      content: ''
      display: block
      position: absolute
      bottom: -8px
      left: 0
      width: 23px
      height: 2px
      background-color: $color__black

    &:hover
      color: $color__green
      &::after
        background-color: $color__green

  &__description
    margin-bottom: 25px
    font-family: $font-family__libreBaskerville
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.7
    line-height: 1.3

  &__links-list
    list-style-type: none
    margin: 0

  &__links-item
    position: relative
    margin-bottom: 25px

    &:last-child
      margin-bottom: 0

      @include max-screen(1020px)
        margin-bottom: 25px

    &--indent-bottom
      padding-bottom: 25px

      &:after
        content: ''
        display: block
        position: absolute
        bottom: 0
        left: 0
        width: 23px
        height: 2px
        background-color: $color__grey

      @include max-screen(1020px)
        padding-bottom: 0

        &:after
          display: none


  &__link
    display: inline-block
    vertical-align: middle
    margin-bottom: 3px
    text-decoration: none
    color: $color__black
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.75

    &:hover
      color: $color__green

  &__links-sub-item
    margin-bottom: 3px

  &__sub-link
    display: inline-block
    vertical-align: middle
    position: relative
    text-decoration: none
    color: #999
    font-size: $font-size__basic * 0.73
    line-height: 1.3
    transition: padding 0.3s ease
    overflow: hidden

    &::before
      content: ''
      display: block
      position: absolute
      top: calc(50% - 3px)
      left: -9px
      width: 5px
      height: 5px
      border-top: 1px solid $color__green
      border-right: 1px solid $color__green
      transform: rotate(45deg)
      transition: left 0.3s ease

    &:hover,
    &--active
      padding-left: 10px
      color: $color__green
      &::before
        left: -1px