.search
  position: relative
  width: 29px
  height: 29px

  @include max-screen(1020px)
    position: fixed
    top: 53px
    left: 0
    width: 100%
    height: auto
    transition: all 0.3s ease

  @include max-screen(450px)
    top: 30px

  &__form
    position: absolute
    top: 0
    right: 0
    width: 100%
    height: 100%
    background-color: $color__white
    font-size: 0
    border: 1px solid $color__greenDark
    box-sizing: border-box
    overflow: hidden
    transition: width 0.3s ease

    @include max-screen(1020px)
      background-color: $color__transparent
      border: none
      overflow: visible

    &--active
      width: 225px

      .search__input
        display: inline-block

  &__input
    -webkit-appearance: none
    display: none
    vertical-align: top
    width: calc(100% - 29px)
    height: 100%
    padding-left: 6px
    padding-right: 6px
    font-family: $font-family__libreBaskerville
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.6
    border: none
    box-sizing: border-box

    &:focus
      outline: none

    &::-webkit-input-placeholder
      color: $color__greenDark

    &::-moz-placeholder
      color: $color__greenDark

    &:-ms-input-placeholder
      color: $color__greenDark

    @include max-screen(1020px)
      position: fixed
      top: 122px
      left: 0
      width: calc(100% - 77px)
      height: 77px
      padding-left: 26px
      padding-right: 26px
      background-color: $color__white
      font-size: $font-size__basic * 1.1
      transition: top 0.3s ease

      &::-webkit-input-placeholder
        color: #b8b8b8

      &::-moz-placeholder
        color: $color__greenDark

      &:-ms-input-placeholder
        color: $color__greenDark

      &--active
        display: block

    @include max-screen(450px)
      top: 76px
      height: 50px
      width: calc(100% - 50px)
      font-size: $font-size__basic * 0.9

  &__button
    -webkit-appearance: none
    display: inline-block
    vertical-align: top
    padding: 0
    width: 27px
    height: 100%
    background-color: $color__transparent
    background-image: url($path__img +  'icons/icon__search.svg')
    background-repeat: no-repeat
    background-position: 50%
    font-size: 0
    border: none
    transition: all 0.3s ease
    cursor: pointer

    &:focus
      outline: none

    @include min-screen(1020px)
      &:hover
        background-color: $color__greenDark
        background-image: url($path__img +  'icons/icon__search--white.svg')

    @include max-screen(1020px)
      position: absolute
      right: 108px
      width: 19px
      height: 17px
      background-color: $color__transparent
      background-image: url($path__img +  'icons/icon__search--white.svg')
      background-size: cover

    @include max-screen(450px)
      right: 81px
      width: 16px
      height: 14px


  &__button-close
    -webkit-appearance: none
    display: none
    position: fixed
    top: 122px
    right: 0
    width: 77px
    height: 77px
    padding: 0
    margin: 0
    background-color: #b8b8b8
    border: none
    transition: top 0.3s ease

    &::after
      content: ''
      display: block
      position: absolute
      top: calc(50% - 1px)
      left: 3%
      width: 94%
      height: 2px
      background-color: $color__white
      transform: rotate(45deg)

    &::before
      content: ''
      display: block
      position: absolute
      top: calc(50% - 1px)
      left: 3%
      width: 94%
      height: 2px
      background-color: $color__white
      transform: rotate(-45deg)

    &:focus
      outline: none

    &--active
      display: block

    @include max-screen(450px)
      top: 76px
      height: 50px
      width: 50px

      &::after
        top: 4px
        left: 7px

      &::before
        top: 4px
        right: 7px




