//font-size on parent element (navigation) - 0
.sub-navigation
  display: none
  position: fixed
  left: 0
  top: $height__header
  width: 100%
  text-align: left
  background-color: $color__greyLight
  z-index: 10

  @include max-screen(1020px)
    position: relative
    top: 0
    padding-top: 15px
    background-color: $color__white

  &__content
    @extend %layout-content
    position: relative
    min-height: 505px
    padding: 35px 30px 25px

    @include max-screen(1270px)
      padding: 35px 15px 25px

    @include max-screen(1020px)
      padding: 0
      min-height: 0

    &::after
      content: ''
      display: table
      clear: both

  &__layout
    float: left
    box-sizing: border-box

    &--empty-title
      margin-right: 30px
      padding-top: 44px

      @include max-screen(1270px)
        margin-right: 15px

    &--short
      width: 140px
      padding-right: 10px

      @include max-screen(1270px)
        width: 130px

      @include max-screen(1130px)
        width: 120px
        padding-right: 5px

    &--medium
      width: 210px
      padding-right: 20px

      @include max-screen(1270px)
        width: 190px

    &--large
      width: 280px
      margin-right: 30px
      padding-right: 10px

      .sub-navigation__list
        width: 50%

        @include max-screen(1020px)
          float: none
          width: 100%

      @include max-screen(1270px)
        width: 260px
        margin-right: 15px

      @include max-screen(1130px)
        width: 240px
        padding-right: 5px

    &--stable
      position: absolute
      left: calc(50% + 4px)

      @include max-screen(1020px)
        position: relative
        left: auto

    &--indent-bottom
      position: relative
      margin-bottom: 35px
      padding-bottom: 35px

      &::after
        content: ''
        display: block
        position: absolute
        left: 0
        bottom: 0
        width: 70%
        height: 1px
        background-color: #b8b8b8

      @include max-screen(1020px)
        margin-bottom: 0

        &::after
          display: none

    @include max-screen(1020px)
      float: none
      width: 100%
      padding: 0

  &__list-title
    display: inline-block
    vertical-align: baseline
    position: relative
    width: 100%
    margin-bottom: 28px
    text-decoration: none
    color: $color__black
    font-family: $font-family__libreBaskerville
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.8
    clear: both

    &::after
      content: ''
      display: block
      position: absolute
      bottom: -8px
      left: 0
      width: 23px
      height: 2px
      background-color: $color__black

    &:hover
      color: $color__green
      &::after
        background-color: $color__green

    @include max-screen(1020px)
      display: none
      margin-bottom: 23px
      font-size: $font-size__basic * 0.7

      &::after
        display: none

    @include max-screen(1020px)
      &[data-state='enabled']
        &::after
          display: block
          width: 15px
          height: 1px

        & ~ .sub-navigation__list
          display: block
          margin-bottom: 11px

          &:last-child
            margin-bottom: 20px

          .sub-navigation__item
            padding-left: 15px

          .sub-navigation__link
            margin-bottom: 0
            font-weight: $font-weight__regular

        & ~ .sub-navigation__list
          display: block

  &__list
    margin-bottom: 17px

    &--float-left
      float: left

    &:last-child
      margin-bottom: 0

    @include max-screen(1020px)
      display: none

  &__item
    margin-bottom: 11px

    &:last-child
      margin-bottom: 0

  &__link
    display: inline-block
    vertical-align: middle
    margin-bottom: 10px
    text-decoration: none
    color: $color__black
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.68

    &--single
      margin-bottom: 0

    &:hover
      color: $color__green

  &__sub-item
    margin-bottom: 4px

    &:last-child
      margin-bottom: 0

    @include max-screen(1020px)
      display: none

  &__sub-link
    display: inline-block
    vertical-align: middle
    position: relative
    text-decoration: none
    color: #999
    font-size: $font-size__basic * 0.68
    line-height: 1.3
    transition: padding 0.3s ease
    overflow: hidden

    &::before
      content: ''
      display: block
      position: absolute
      top: calc(50% - 3px)
      left: -9px
      width: 5px
      height: 5px
      border-top: 1px solid $color__green
      border-right: 1px solid $color__green
      transform: rotate(45deg)
      transition: left 0.3s ease

    &:hover,
    &--active
      padding-left: 10px
      color: $color__green
      &::before
        left: -1px

  &__promo
    position: absolute
    top: 0
    right: 30px
    width: 300px
    height: 100%
    background-color: $color__beige

    @include max-screen(1270px)
      right: 0

    @include max-screen(1270px)
      width: 270px

    @include max-screen(1020px)
      display: none

  &__promo-cover
    width: 100%
    height: 200px
    object-fit: cover
    object-position: center
    @include object-fit(cover, center)

  &__promo-layout
    height: calc(100% - 200px)
    //200px - height of promo-cover

    &::after
      content: ''
      display: inline-block
      vertical-align: middle
      height: 100%
      width: 0

  &__promo-content
    display: inline-block
    vertical-align: middle
    width: 100%

  &__promo-caption
    margin-bottom: 15px
    text-transform: uppercase
    text-align: center
    font-size: $font-size__basic * 0.8
    font-weight: $font-weight__bold
    line-height: 1.7
    letter-spacing: 0.5px

  &__promo-category
    display: inline-block
    vertical-align: middle
    position: relative
    width: 100%
    margin-bottom: 50px
    text-transform: uppercase
    text-align: center
    color: $color__white
    font-family: $font-family__libreBaskerville
    font-size: $font-size__basic * 1.7
    font-weight: $font-weight__bold
    letter-spacing: 0.5px

    &::after
      content: ''
      display: block
      position: absolute
      left: 35%
      bottom: -15px
      width: 30%
      height: 3px
      background-color: $color__white

    @include max-screen(1270px)
      font-size: $font-size__basic * 1.4

  &__promo-link
    display: block
    position: relative
    width: 76%
    margin: auto
    padding: 12px 0
    text-align: center
    text-transform: uppercase
    text-decoration: none
    color: $color__black
    font-size: $font-size__basic * 0.7
    font-weight: $font-weight__bold
    border: 4px solid $color__black
    z-index: 1

    &--aylen
      overflow: hidden
      -webkit-transition: color 0.4s
      transition: color 0.4s

    &--aylen::before,
    &--aylen::after
      content: ''
      position: absolute
      height: 100%
      width: 100%
      bottom: 100%
      left: 0
      z-index: -1
      -webkit-transition: -webkit-transform 0.4s
      transition: transform 0.4s
      -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1)
      transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1)

    &--aylen::before
      background: #494949

    &--aylen::after
      background: #000

    &--aylen:hover
      color: #fff

    &--aylen:hover::before,
    &--aylen:hover::after
      -webkit-transform: translate3d(0, 100%, 0)
      transform: translate3d(0, 100%, 0)

    &--aylen:hover::after
      -webkit-transition-delay: 0.175s
      transition-delay: 0.175s





