.top-bar
  font-size: 0 //Display inline block right indent fix. Set font-size on child elements.

  &__link
    display: inline-block
    vertical-align: bottom
    position: relative
    text-decoration: none
    text-transform: uppercase
    color: $color__green
    font-size: $font-size__basic * 0.65
    font-weight: $font-weight__bold
    letter-spacing: 0.5px

    &--contact
      margin-right: 42px
      padding-right: 10px

      &::after
        content: ''
        display: block
        position: absolute
        right: 0
        top: 3px
        width: 0
        height: 0
        border-left: 3px solid transparent
        border-right: 3px solid transparent
        border-top: 3px solid $color__green

    @include max-screen(1020px)
      display: none

  &__link-caption
    display: inline-block
    vertical-align: bottom

    &--heart
      margin-left: 2px

  &__button
    display: inline-block
    vertical-align: bottom
    padding: 0
    text-transform: uppercase
    color: $color__green
    background-color: $color__transparent
    font-family: $font-family__centuryGothic
    font-size: $font-size__basic * 0.65
    font-weight: $font-weight__bold
    letter-spacing: 0.5px
    line-height: 1
    border: none
    cursor: pointer

    &:focus
      outline: none

    &--user
      margin-right: 25px

      &:hover
        & + .user-dropdown
          visibility: visible
          top: 50px
          opacity: 1

      @include max-screen(1020px)
        display: none

    &--basket
      margin-right: 21px

      @include max-screen(1020px)
        margin-right: 0
        padding-left: 25px
        border-left: 2px solid $color__white

        .icon--basket
          width: 15px
          height: 18px
          margin-right: 4px
          background-image: url($path__img + 'icons/icon__basket-white.svg')

          @include max-screen(450px)
            width: 12px
            height: 15px

      @include max-screen(450px)
        padding-left: 13px

    @include max-screen(1020px)
      color: $color__white
      font-size: $font-size__basic * 0.8

    @include max-screen(450px)
      font-size: $font-size__basic * 0.7

  &__button-caption
    display: inline-block
    vertical-align: bottom

    &--user
      margin-right: 6px

    &--basket
      margin-left: 4px
