.user-dropdown
  visibility: hidden
  position: fixed
  width: 260px
  padding: 30px
  top: 100px
  left: calc(50% + 345px)
  text-align: left
  background-color: #e4e3e2
  box-sizing: border-box
  opacity: 0
  transition: all 0.3s ease
  z-index: 30

  @include max-screen(1270px)
    left: auto
    right: 15px

  @include max-screen(1020px)
    display: none

  &::before
    content: ''
    display: block
    position: absolute
    top: -30px
    left: 0
    width: 100%
    height: 30px
    background-color: $color__transparent
    user-select: none

  &::after
    content: ''
    display: block
    position: absolute
    top: -5px
    left: calc(50% - 5px)
    width: 10px
    height: 10px
    background-color: #e4e3e2
    transform: rotate(45deg)

  &:hover
    visibility: visible
    top: 50px
    opacity: 1

  &__caption
    position: relative
    margin-bottom: 40px
    font-family: $font-family__libreBaskerville
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.85

    &::after
      content: ''
      display: block
      position: absolute
      left: 0
      bottom: -13px
      width: 55px
      height: 1px
      background-color: $color__black

  &__layout
    margin-bottom: 30px

  &__form
    display: block
    width: 100%

  &__input
    -webkit-appearance: none
    display: block
    width: 100%
    padding: 10px 15px
    background-color: #f7f5f5
    border: 1px solid $color__greenDark
    font-family: $font-family__centuryGothic
    font-size: $font-size__basic * 0.6
    box-sizing: border-box

    &:focus
      outline: none

    &--indent-bottom
      margin-bottom: 15px

  &__submit
    display: block
    width: 100%
    margin-bottom: 20px
    padding: 10px 0
    text-align: center
    text-transform: uppercase
    color: $color__white
    background-color: $color__greenDark
    font-family: $font-family__centuryGothic
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.7
    border: 3px solid $color__greenDark
    transition: all 0.3s ease
    cursor: pointer

    &:focus
      outline: none

    &:hover
      background-color: darken($color__greenDark, 10%)
      border: 3px solid darken($color__greenDark, 10%)

  &__link
    display: inline-block
    vertical-align: bottom
    width: 100%
    margin-bottom: 8px
    text-decoration: none
    color: $color__black
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.6

    &--with-angle
      &::after
        content: '>'
        display: inline-block
        vertical-align: bottom
        margin-left: 3px
        font-size: $font-size__basic * 0.6

    &--upper
      text-transform: uppercase

    &:hover
      color: $color__green

    &:last-child
      margin-bottom: 0

  &__list
    list-style-type: disc

  &__list-item
    margin-left: 15px
    margin-bottom: 8px
    font-size: $font-size__basic * 0.6

    .user-dropdown__link
      margin-bottom: 0
      font-family: $font-family__helvetica
      font-weight: $font-weight__regular
      font-size: $font-size__basic * 0.6

  &__button
    display: block
    width: 100%
    margin-bottom: 10px
    padding: 10px 0
    text-align: center
    text-transform: uppercase
    text-decoration: none
    color: $color__white
    background-color: $color__greenDark
    font-family: $font-family__centuryGothic
    font-weight: $font-weight__bold
    font-size: $font-size__basic * 0.7
    border: 3px solid $color__greenDark
    box-sizing: border-box
    transition: all 0.3s ease
    cursor: pointer

    &:focus
      outline: none

    &:last-child
      margin-bottom: 0

    &:hover
      background-color: darken($color__greenDark, 10%)
      border: 3px solid darken($color__greenDark, 10%)

    &--bordered
      background-color: #f7f5f5
      color: $color__greenDark
      border: 3px solid $color__greenDark
      box-sizing: border-box

      &:hover
        background-color: darken(#f7f5f5, 10%)
